{% extends 'architect/architect.html.twig' %}

{% block title %}Candidat index{% endblock %}
{% set profile ='active'%}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-user icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'your.profil' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <a type="button" data-toggle="tooltip" href="/"title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Dashboard">
                <i class="fa fa-star"></i>
            </a>
        </div>
    </div>
</div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h5 class="card-title">PROFIL</h5>
                            <hr>
                            <div class="text-center mt-4 mb-4 ">
                                <a href="#" id="change-pics"><img class="profile-user-img img-fluid img-circle mt-2" id="id-pics-preview"
                                     src="{{ user.picUrl != null ? asset ("uploads/"~user.picUrl) : asset('/dist/img/user4-128x128.jpg') }}"
                                     alt="User profile picture"></a>
                                     <form id="profile-pics-info">
                                         <input type="file" accept="image/*" class="form-control mt-2" id="id-pics" placeholder="" name="profile_pics" style="display: none" >
                                         <br>

                                         <hr>
                            <button type="button" class=" btn-transition btn btn-outline-info pull-right " id="update-pics">{{'Save' | trans }}
                                        </button>
                                     </form>
                                     
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-primary card-outline">
                        <div class="card-body ">
                             <h5 class="card-title">{{'basic.info' | trans }}</h5>
                            <hr>
                            <form id="basic-info">
                                <input type="text" class="form-control mb-2" id="inputName" placeholder="nom" name="firstName" value="{{ user.name }}" >
                            <input type="text" class="form-control mb-2" id="inputName2" placeholder="prenom" name="lastName"value="{{ user.firstName }}" >
                            <input type="email" class="form-control mb-2" id="inputEmail" placeholder="email" name="email" value="{{ user.email }}">
                            <input type="" class="form-control mb-2" id="inputEmail" placeholder="telephone" name="telephone" value="{{ user.telephone }}">
                            <hr>
                            <button type="button" class=" btn-transition btn btn-outline-info pull-right" id="update-basic">{{'Save' | trans }}
                                        </button>
                            </form>                         
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card card-primary card-outline">
                        <div class="card-body ">
                             <h5 class="card-title">{{'links' | trans }}</h5>
                            <hr>
                            <form id="link-info">
                                <input type="text" class="form-control mb-2" id="inputName" placeholder="facebook" name="facebook" value="{{ user.facebook }}" >
                            <input type="text" class="form-control mb-2" id="inputName2" placeholder="instagram" name="instagram"value="{{ user.instagram }}" >
                            <input type="email" class="form-control mb-2" id="inputEmail" placeholder="twitter" name="twitter" value="{{ user.twiter }}">
                            <input type="" class="form-control mb-2" id="inputEmail" placeholder="linkedin" name="linkedin" value="{{ user.linkedin }}">
                            <hr>
                            <button class=" btn-transition btn btn-outline-info pull-right" id="update-link" type="button">{{'Save' | trans }}
                                        </button>
                            </form>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){

            $(document).on('change',"#id-domain",function () {
                var domain = $(this).val();
                if(domain.length <1 || isNaN(domain) ) return ;
                var data = { };
                data.domain_id = domain;
                $.ajax({
                    url : "{{ path("get_metier_by_domain") }}",
                    method: "POST",
                    data : data,
                    dataType: "json",
                    success: function(data){
                        $("#id-metier, .oups").html(data.html);
                        alert(data);
                    }
                });
            });
            $("#id-pics").change(function (event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('id-pics-preview');
                    output.src = reader.result;
                };
                reader.readAsDataURL(event.target.files[0]);
            });
           
            $("#update-pics").click(function () {
                var form = document.getElementById("profile-pics-info");
                $.ajax({
                    url: "{{ path("update_profile") }}",
                    method: 'post',
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: 'json',
                    success:function (data) {
                        alert(data.message);
                    }
                })
            });
             $("#update-link").click(function () {
                var form = document.getElementById("link-info");
                $.ajax({
                    url: "{{ path("update_profile") }}",
                    method: 'post',
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: 'json',
                    success:function (data) {
                        alert(data.message);
                    }
                })
            });
              $("#update-basic").click(function () {
                var form = document.getElementById("basic-info");
                $.ajax({
                    url: "{{ path("update_profile") }}",
                    method: 'post',
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    cache: false,
                    dataType: 'json',
                    success:function (data) {
                        alert(data.message);
                    }
                })
            });



            $("#change-pics").click(function(){
                $("#id-pics").click();
            });

        });
    </script>
{% endblock %}

