{% extends 'base.html.twig' %}

{% block title %}Edit QuizCandidatAnswer{% endblock %}

{% block body %}
    <h1>Edit QuizCandidatAnswer</h1>

    {{ include('quiz_candidat_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_candidat_answer_index') }}">back to list</a>

    {{ include('quiz_candidat_answer/_delete_form.html.twig') }}
{% endblock %}
