{% extends 'base.html.twig' %}

{% block title %}QuizCandidatAnswer index{% endblock %}

{% block body %}
    <h1>QuizCandidatAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Duration</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz_candidat_answer in quiz_candidat_answers %}
            <tr>
                <td>{{ quiz_candidat_answer.id }}</td>
                <td>{{ quiz_candidat_answer.duration ? quiz_candidat_answer.duration|date('H:i:s') : '' }}</td>
                <td>{{ quiz_candidat_answer.score }}</td>
                <td>
                    <a href="{{ path('quiz_candidat_answer_show', {'id': quiz_candidat_answer.id}) }}">show</a>
                    <a href="{{ path('quiz_candidat_answer_edit', {'id': quiz_candidat_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quiz_candidat_answer_new') }}">Create new</a>
{% endblock %}
