{% extends 'base.html.twig' %}

{% block title %}New QuizCandidatAnswer{% endblock %}

{% block body %}
    <h1>Create new QuizCandidatAnswer</h1>

    {{ include('quiz_candidat_answer/_form.html.twig') }}

    <a href="{{ path('quiz_candidat_answer_index') }}">back to list</a>
{% endblock %}
