{% extends 'base.html.twig' %}

{% block title %}QuizCandidatAnswer{% endblock %}

{% block body %}
    <h1>QuizCandidatAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_candidat_answer.id }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ quiz_candidat_answer.duration ? quiz_candidat_answer.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ quiz_candidat_answer.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_candidat_answer_index') }}">back to list</a>

    <a href="{{ path('quiz_candidat_answer_edit', {'id': quiz_candidat_answer.id}) }}">edit</a>

    {{ include('quiz_candidat_answer/_delete_form.html.twig') }}
{% endblock %}
