<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} KOANN {% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/register.css') }}" rel="stylesheet">
    {% endblock %}
    <!--link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/-->
</head>
<body >
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p></p>
            <a href="/sign-in">
                <input type="submit" name="" value="Login" href="/sign-in"/>
            </a>
            <br/>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Create account</h3>
                    <div class="row register-form">
                        <div class="col-md-6 offset-lg-3 mt-n3 mb-2">
                            <p class="text-danger required d-none"> All field are required</p>
                            <p class="text-danger pass d-none"> Password not match </p>
                            <p class="text-danger account d-none"> Login or email already taken </p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="last name*" value="" id="id-nom"required="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="first name *" value=""  id="id-prenom"required="true"/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="login *" value="" id="id-pseudo"required="true"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="password *" value="" id="id-mdp" required="true"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="password confirmation *" value="" id="id-mdp-conf"required="true"/>
                            </div>
                            <!--div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="male" checked>
                                        <span> Homme </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="female">
                                        <span>Femme </span>
                                    </label>
                                </div>
                            </div-->
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="email *" value="" id="id-email" required="true"/>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="sector_search" required="true">
                                    <option value="0"> sector</option>
                                    {% for sector in sectors %}
                                      <option value="{{sector.id}}"> {{sector.label}}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="domain_search" required="true">
                                    <option value="0">domain</option>
                                    {% for domain in domains %}
                                      <option value="{{domain.id}}" class="domain sector-{{domain.sector.id}} d-none"> {{domain.domainLabel}}</option>

                                    {% endfor %}
                                  </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="job_search"  required="true">
                                    <option value="0">Job</option>
                                    {% for job in jobs %}
                                      <option value="{{job.id}}" class="job domain-{{job.domain.id}} d-none"> {{job.metierName}}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <button type="submit" class="btnRegister .kl-register" id="id-register">  Register</button>
                        </div>
                    </div>
                </div>
                <!--div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Apply as a Hirer</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" maxlength="10" minlength="10" class="form-control" placeholder="Phone *" value="" />
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="`Answer *" value="" />
                            </div>
                            <input type="button" class="btnRegister .kl-register"  value="Register"/>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>

</div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-easing/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chart.js/Chart.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sector_search").change(function(){
              var selected = $(this).val();
              var domain_selector = '.sector-'+selected;
              $("#domain_search").val(0);
              $("#job_search").val(0);
              $(".domain, .job").addClass("d-none");
              $(domain_selector).removeClass("d-none");
            });
            $("#domain_search").change(function(){
              var selected = $(this).val();
              var job_selector = '.domain-'+selected;
              $("#job_search").val(0);
              $(".job").addClass("d-none");
              $(job_selector).removeClass("d-none");
              
            });
            $("#id-register").click(function (e) {
                $(".required, .pass").addClass('d-none');
                e.preventDefault();
                var nom    = $("#id-nom").val();
                var prenom = $("#id-prenom").val();
                var pseudo = $("#id-pseudo").val();
                var email  = $("#id-email").val();
                var pass   = $("#id-mdp").val();
                var conf   = $("#id-mdp-conf").val();
                var sector = $("#sector_search").val();
                var domain = $("#domain_search").val();
                var job    = $("#job_search").val();
                var data   = {};
                if(nom =="" ||prenom =="" ||pseudo =="" ||email =="" ||conf =="" ||pass =="" ||sector ==0 ||domain == 0 ||
                    job == 0 ){
                        $(".required").removeClass('d-none');
                        return;
                }
                if(pass != conf){
                    $(".pass").removeClass('d-none');
                    return;
                }
                data.name = nom;
                data.user_name= pseudo;
                data.mdp = pass;
                data.email = email;
                data.last_name= prenom;
                data.sector = sector;
                data.domain = domain;
                data.job   = job;

                $.ajax({
                     url : "{{ path('utilisateur_create') }}",
                     method: "POST",
                     data: data,
                     dataType:'JSON',
                     success: function (response) {
                        if(response.message == "OK"){
                            window.location ="/sign-in";
                        }
                        $(".account").removeClass("d-none");
                    }
                });
            });
        })
    </script>
{% endblock %}

</body>
</html>

<!------ Include the above in your HEAD tag ---------->

