<form method="post" style="display: inline" action="{{ path('metier_delete', {'id': metier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metier.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
