{% extends 'architect/architect.html.twig' %}

{% block title %}Metier index{% endblock %}
{% set basic = 'active' %}
{% set job_index = 'active' %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'job' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu active" data-view="kl-list">
            <span>{{'listof' | trans }} {{'job' | trans }}s</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu " data-view="kl-form">
            <span>{{'new' | trans }} {{'job' | trans }}</span>
        </a>
    </li>
</ul>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        {{'listof' | trans }} {{'job' | trans }}s
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-eg5-0" role="tabpanel">
                            <table class="table table-bordered table-condensed" id="example">
                                <thead>
                                <tr>
                                    <th>{{'job' | trans }}</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for metier in metiers %}
                                    <tr>
                                        <td>{{ metier.metierName }}</td>
                                        <td>
                                            <a  class="btn" href="{{ path('metier_edit', {'id': metier.id}) }}"><i class="fas fa-edit"></i></a>
                                            {% if metier.utilisateurs | length == 0%}
                                            {% include 'metier/_delete_form.html.twig'%}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-eg5-1" role="tabpanel">
                            {{ include('metier/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.select2').select2()
            $(".mon-menu").click(function(){
                if($(this).hasClass('active')) return;
                $(".mon-menu,.tab-pane").toggleClass('active');    
            });
        });
    </script>
    
{% endblock %}