{% extends 'base.html.twig' %}

{% block title %}Metier{% endblock %}

{% block body %}
    <h1>Metier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metier.id }}</td>
            </tr>
            <tr>
                <th>MetierName</th>
                <td>{{ metier.metierName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('metier_index') }}">back to list</a>

    <a href="{{ path('metier_edit', {'id': metier.id}) }}">edit</a>

    {{ include('metier/_delete_form.html.twig') }}
{% endblock %}
