<form method="post" action="{{ path('domain_delete', {'id': domain.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display:inline">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ domain.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
