{% extends 'base.html.twig' %}

{% block title %}Domain{% endblock %}

{% block body %}
    <h1>Domain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domain.id }}</td>
            </tr>
            <tr>
                <th>DomainCode</th>
                <td>{{ domain.domainCode }}</td>
            </tr>
            <tr>
                <th>DomainLabel</th>
                <td>{{ domain.domainLabel }}</td>
            </tr>
            <tr>
                <th>DomainConceptType</th>
                <td>{{ domain.domainConceptType }}</td>
            </tr>
            <tr>
                <th>DomainDesc</th>
                <td>{{ domain.domainDesc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('domain_index') }}">back to list</a>

    <a href="{{ path('domain_edit', {'id': domain.id}) }}">edit</a>

    {{ include('domain/_delete_form.html.twig') }}
{% endblock %}
