{% extends 'architect/architect.html.twig' %}
{% set base = 'active' %}
{% set civility = 'active' %}
{% block title %}civility index{% endblock %}

{% block body %}
    <div class="row">
        {#<div class="col-md-12">#}
            {#<div class="mb-3 card">#}
                {#<div class="card-header-tab card-header">#}
                    {#<div class="card-header-title">#}
                        {#<i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>#}
                        {#Header Alternate Tabs#}
                    {#</div>#}
                    {#<ul class="nav">#}
                        {#<li class="nav-item"><a data-toggle="tab" href="#tab-eg5-0" class="active nav-link">Tab 1</a></li>#}
                        {#<li class="nav-item"><a data-toggle="tab" href="#tab-eg5-1" class="nav-link">Tab 2</a></li>#}
                        {#<li class="nav-item"><a data-toggle="tab" href="#tab-eg5-2" class="nav-link">Tab 3</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {#<div class="card-body">#}
                    {#<div class="tab-content">#}
                        {#<div class="tab-pane active" id="tab-eg5-0" role="tabpanel">#}
                            {#<table class="table">#}
                                {#<thead>#}
                                {#<tr>#}
                                    {#<th>Civilité</th>#}
                                    {#<th>actions</th>#}
                                {#</tr>#}
                                {#</thead>#}
                                {#<tbody>#}
                                {#{% for civility in civilities %}#}
                                    {#<tr>#}
                                        {#<td>{{ civility.civilityName }}</td>#}
                                        {#<td>#}
                                            {#<a href="{{ path('civility_show', {'id': civility.id}) }}">show</a>#}
                                            {#<a href="{{ path('civility_edit', {'id': civility.id}) }}">edit</a>#}
                                        {#</td>#}
                                    {#</tr>#}
                                {#{% else %}#}
                                    {#<tr>#}
                                        {#<td colspan="2">no records found</td>#}
                                    {#</tr>#}
                                {#{% endfor %}#}
                                {#</tbody>#}
                            {#</table>#}
                        {#</div>#}
                        {#<div class="tab-pane" id="tab-eg5-1" role="tabpanel">#}
                            {#{{ include('country/_form.html.twig') }}#}
                        {#</div>#}
                        {#<div class="tab-pane" id="tab-eg5-2" role="tabpanel">#}
                            {#<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a#}
                                {#type specimen book. It has#}
                                {#survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des civilités</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>                <!-- Card Body -->
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nationalité</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for civility in civilities %}
                            <tr>
                                <td>{{ civility.id }}</td>
                                <td>{{ civility.civilityName }}</td>
                                <td>
                                    <a href="{{ path('civility_show', {'id': civility.id}) }}">show</a>
                                    <a href="{{ path('civility_edit', {'id': civility.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nouvelle</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {{ include('civility/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
