{% extends 'base.html.twig' %}

{% block title %}New Civility{% endblock %}

{% block body %}
    <h1>Create new Civility</h1>

    {{ include('civility/_form.html.twig') }}

    <a href="{{ path('civility_index') }}">back to list</a>
{% endblock %}
