{% extends 'base.html.twig' %}

{% block title %}Civility{% endblock %}

{% block body %}
    <h1>Civility</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ civility.id }}</td>
            </tr>
            <tr>
                <th>CivilityName</th>
                <td>{{ civility.civilityName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('civility_index') }}">back to list</a>

    <a href="{{ path('civility_edit', {'id': civility.id}) }}">edit</a>

    {{ include('civility/_delete_form.html.twig') }}
{% endblock %}
