{% extends 'architect/architect.html.twig' %}
{% set basic = 'active' %}
{% set basic_city = 'active' %}
{% set country_index = 'active' %}
{% block title %}Country index{% endblock %}

{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div> {{'country' | trans }}s
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu active" data-view="kl-list">
            <span >{{'listof' | trans }} {{'country' | trans }}</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu " data-view="kl-form">
            <span>{{'new' | trans }} {{'country' | trans }}</span>
        </a>
    </li>
</ul>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        {{'listof' | trans }} {{'country' | trans }}
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-eg5-0" role="tabpanel">
                            <table class="table table-hover table-striped table-condensed table-bordered  dataTable dtr-inline w-100" id="example">
                                <thead>
                                <tr>
                                    <th>{{'country' | trans }}</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for country in countries %}
                                    <tr>
                                        <td>{{ country.countryName }}</td>
                                        <td>
                                            <a class="btn " href="{{ path('country_edit', {'id': country.id}) }}"><i class="fas fa-edit"></i></a>
                                            {% if country.cities | length == 0%}
                                            <form method="post" action="{{ path('country_delete', {'id': country.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ country.id) }}">
                                                <button class="btn  ml-2"><i class="fas fa-trash"></i></button>
                                            </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab-eg5-1" role="tabpanel">
                            {{ include('country/_form.html.twig') }}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function(){
                if($(this).hasClass('active')) return;
                $(".mon-menu,.tab-pane").toggleClass('active');    
            });
        });
    </script>
    
{% endblock %}
