{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.first_name) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
