{{ form_start(form) }}
    <input type="hidden" id="id-produit">
    {{ form_row(form.designation) }}
    {{ form_row(form.quantite,{attr :{'min':'1'}}) }}
    <button class="btn kl-save btn-primary" type="button">{{ button_label|default('Save') }}</button>
    <button class="btn btn-info kl-update" type="button">Update</button>
    <button class="btn btn-default kl-cancel" type="button">Reset</button>
{{ form_end(form) }}