{% extends 'base.html.twig' %}

{% block body %}

<div class="container"><br>
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="alert alert-info kl-message">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% include 'produit/form.html.twig' %}
        </div>
        <div class="col-lg-8 " >
            <br/>
            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">search</span>
                        </div>
                        <input class="form-control input-group kl-filtre-produit">
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="pagination kl-page">
                    </ul>
                </div>
            </div>
            <table class="table table-condensed table-striped " id="id-liste">
                <tr>
                    <th> Id
                    <th> Designation
                    <th> Quantite
                    <th> Action
                </tr>
            </table>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/dist/jquery.js') }}"></script>
    <script>
        var url ={
            get_all_product : "{{ path('get_all_produits') }}",
            get_one_product : "{{ path('get_one_produit') }}",
            filter_product  : "{{ path('produit_filter') }}",
            save_product    : "{{ path('produit_save') }}",
            update_product  : "{{ path('produit_update') }}",
            delete_product  : "{{ path('produit_delete') }}",
        }
    </script>
    <script type="text/javascript" src="{{ asset('js/produit/ajax.crud.js') }}"> </script>

{% endblock %}
