<form method="post" action="{{ path('info_candidat_delete', {'id': info_candidat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_candidat.id) }}">
    <button class="btn">Delete</button>
</form>
