{% extends 'base.html.twig' %}

{% block title %}Edit InfoCandidat{% endblock %}

{% block body %}
    <h1>Edit InfoCandidat</h1>

    {{ include('info_candidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('info_candidat_index') }}">back to list</a>

    {{ include('info_candidat/_delete_form.html.twig') }}
{% endblock %}
