{% extends 'base.html.twig' %}

{% block title %}New InfoCandidat{% endblock %}

{% block body %}
    <h1>Create new InfoCandidat</h1>

    {{ include('info_candidat/_form.html.twig') }}

    <a href="{{ path('info_candidat_index') }}">back to list</a>
{% endblock %}
