{% extends 'base.html.twig' %}

{% block title %}InfoCandidat{% endblock %}

{% block body %}
    <h1>InfoCandidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ info_candidat.id }}</td>
            </tr>
            <tr>
                <th>InfoCandidatCvUrl</th>
                <td>{{ info_candidat.infoCandidatCvUrl }}</td>
            </tr>
            <tr>
                <th>InfoCandidatImageUrl</th>
                <td>{{ info_candidat.infoCandidatImageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('info_candidat_index') }}">back to list</a>

    <a href="{{ path('info_candidat_edit', {'id': info_candidat.id}) }}">edit</a>

    {{ include('info_candidat/_delete_form.html.twig') }}
{% endblock %}
