<div class="modal" id="id-confirm">
    <form method="post"  style="height: 20%" action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                    <p>Voulez vous vraiment effectuer cette action</p>
                    <button class="btn btn-danger" type="submit">Oui</button>
                    <a href="#" rel="modal:close" class="btn btn-primary" data-dismiss="modal">Non</a>
            </div>
        </div>
    </div>
    </form>
</div>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#id-confirm">
    Delete
</button>
