{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" style="display:inline">{{ button_label|default('Save') }}</button>
        <a class="btn btn-primary" style="display:inline" href="{{ path('utilisateur_index') }}">back to list</a>
{{ form_end(form) }}
