{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Edit Utilisateur</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <img src="{{ asset('uploads/' ~ utilisateur.picUrl) }}" id="id-output_image" style="border-radius: 50%" alt= "" width="200px" width="200px">
            </div>
        </div>

        {{ include('utilisateur/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/dist/jquery.js') }}"></script>
    <script type='text/javascript' src="{{ asset('js/utilisateur/show.profile.js') }}"></script>
{% endblock  %}


