{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}
    <h1>Create new Utilisateur</h1>
<div class="container">
    {{ include('utilisateur/form.html.twig') }}

    </div>
{% endblock %}
