{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
<h1>Utilisateur</h1>
<div class="container">
    <table class="table">
        <tbody>
            {% if utilisateur.picUrl != null %}
              <tr>
                    <th>Profile</th>
                    <td><img src="{{ asset('uploads/' ~ utilisateur.picUrl) }}" width="200px" width="200px"></td>
              </tr>
            {% endif %}
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ utilisateur.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ utilisateur.roles ? utilisateur.roles|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('utilisateur_index') }}">back to list</a>
    <!--a class="btn btn-warning" href="{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a-->
    {#{ include('utilisateur/_delete_form.html.twig') }#}
</div>
{% endblock %}
