{% extends 'architect/architect.html.twig' %}

{% block title %} dashboard{% endblock %}
{% set candidat_dashboard = 'active'%}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/custom/quiz.css") }}">
    <link rel="stylesheet" href="{{ asset("css/custom/note.css") }}">
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}" >
    <style type="text/css">
       .rating {
            direction: rtl;
        }
        .rating a {
           color: #aaa;
           text-decoration: none;
           font-size: 1.0em;
           transition: color .4s;
        }
        .rating a .active,
        {
           color: orange;
        }
    </style>
{% endblock %}
{% set base = 'active' %}
{% set domain = 'active' %}

{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'analytics' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
    <!--ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active mon-menu" data-view="kl-hard">
                <span>Hard Skill</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a role="tab" class="nav-link mon-menu " data-view="kl-soft">
                <span>Soft Skill</span>
            </a>
        </li>
    </ul-->

<div class=" container "> 
    <div class="row quizz_container">
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                              {% if rule != null %} 
                              <a href="#"class="btn btn-default mon-menu" data-toggle="modal" data-target="#softskills">{{"complete" | trans}}</span></a>
                              {%endif%}
                          </div>
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              {{"soft" | trans}}  
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set index = 0 %}
        {% for quizz in quizzes %}
        <div class="col-xl-4 col-md-6 mb-4 skills {{ 'quiz_name'~quizz.id }}">
            <div class="card border-left-primary shadow h-100 py-2 ">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                              
                          </div>
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ quizz.quizName}}
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% set index = index+1%}
        {% endfor %}
        {% for quizz in quizzes_complete %}
        <div class="col-xl-4 col-md-6 mb-4 quiz_name{{quizz.quiz.id}} d-none">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <a href="#" class="btn btn-default">{{"complete" | trans}} <span class="text-danger"> {{ quizz.score * 10 }} / 10 </span></a>
                  </div>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1 ">
                     {{ quizz.quiz.quizName}}
                     
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% include('dashboard/candidat_skills.html.twig')%}
    <div class="row quizz_card d-none">
        <div class="col-md-12 ">
        <div class="card" >
            <div class="card-header-tab card-header">
                <div class="card-header-title kl-quizz-title">
                    
                </div>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6><span class="badge badge-warning" id="qid"></span> <span class="question"><span></h6>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-3 col-xs-offset-5">
                                    <div id="loadbar" style="display: none;">
                                        <div class="blockG" id="rotateG_01"></div>
                                        <div class="blockG" id="rotateG_02"></div>
                                        <div class="blockG" id="rotateG_03"></div>
                                        <div class="blockG" id="rotateG_04"></div>
                                        <div class="blockG" id="rotateG_05"></div>
                                        <div class="blockG" id="rotateG_06"></div>
                                        <div class="blockG" id="rotateG_07"></div>
                                        <div class="blockG" id="rotateG_08"></div>
                                    </div>
                                </div>

                                <div class="quiz" id="quiz" data-toggle="buttons" style="font-size: 11px!important">

                                </div>
                            </div>
                            <div class="modal-footer text-muted">
                                <span id="answer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="margin-top: 50px; "id="softskills" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{"your" | trans}} {{"soft" | trans}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            {% if rule != null %}
                {% for soft_skill in rule.softSkills %}
                    <button class="btn btn-success btn-circle btn-sm" disabled="true">
                            <i class="fas fa-check"></i>
                    </button>
                    <span class="text mr-3 ">{{ soft_skill.ssName}}</span>
                    <br>
                    <br>
                {% endfor %}
              {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"close" | trans}}</button>
            </div>
        </div>
    </div>
</div>
</div> 

{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
      var evolution_url = "{{path('skill_evolution')}}";
      var labels = "";
      var data ="";
      {% if rule != null %}
      labels += "{% for skill in  rule.softSkills%}{{skill.ssName}},{% endfor %}";
      data += "{% for skill in  rule.softSkills%}100,{% endfor %}";
      {% set index = 1 %}
      {% set max = soft_skills | length %}
      {% for skill in soft_skills %}
        var plus = "";
        {% if index != 1 %}
                plus += ",";          
                
        {% endif%}
        {% if rule.hasSoftSkills(skill) == false %}
            labels += plus+"{{skill.ssName}}";
            data += plus+"10";
            {% set index = index + 1 %}     
            
            
        {% endif %}
      {% endfor %};
      
      var avatar = document.getElementById('soft-skills-chart');
      var myRadarChart = new Chart(avatar, {
            type: 'radar',
            data: {
                  labels: labels.split(','),
                  datasets: [{
                      data: data.split(','),
                      backgroundColor: 'rgba(172,52,136,0.5)',
                      borderColor: 'rgba(0,254,58,1)',
                      label: "{{'soft' | trans}}"
                  }]
              },
            options: {
                        scale: {
                            angleLines: {
                                display: true
                            },
                            ticks:{
                              display: false
                            },
                            label:{ display: false}
                        }
                    }
        });
      {% endif %}
      
      var hard = document.getElementById('hard-skills-chart');
      data = [];
      labels = [];
      {% for evolution in evolutions %}
        data.push('{{evolution.score * 10 }}');
        labels.push('{{evolution.date | date('d/m/Y')}}');
      {%endfor%}
      {% if evolutions | length != 0%}
      var evolChart = new Chart(hard, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "{{'skill.evolution' | trans }}",
                        data: data,
                        backgroundColor:"rgba(28,155,224,0.4)",
                        borderColor: "'rgba(180,250,120,1)",
                        borderWidth: 1,
                        fill : true
                    }]
                },
                options: {
                    scales: {
                          yAxes: [{
                          ticks: {
                                fontStyle: "bold",
                                beginAtZero: true,
                                padding: 20
                            },
                          gridLines: {
                              drawTicks: false,
                              display: false,
                              zeroLineColor: "transparent"
                          }
                }],
                 xAxes: [{
                              gridLines: {
                                  zeroLineColor: "transparent",
                                  display: false
                      },
                              ticks: {
                                   padding: 20,
                                     fontStyle: "bold"
                              }
                           }]
                      }
                }
            });
      {% endif %}
    </script>
    
    <script type="text/javascript" src='{{ asset("js/custom.js")}}'></script>
    <script>
        $(function(){
            var index_quiz = 0;
            var index_question = 0;
            var response = {};
            response.id = 0;
            response.score = 0;
            response.response = [];
            var questions = [];

            var quizzes= [
                {% for quiz in quizzes %}
                {
                    id: "{{ quiz.id }}",
                    name: "{{ quiz.quizName }}",
                    duration:"{{ quiz.quizDuration | date("h:m:s")}}" ,
                    questions:[
                        {% for question in quiz.quizQuestions %}
                        {
                            id : "{{question.id  }}",
                            question: "{{ question.question }}",
                            answers: [
                                {% for answer in question.quizQuestionAnswers %}
                                {
                                    id : "{{ answer.id }}",
                                    answer: "{{ answer.answer }}",
                                    score: "{{ answer.score }}"
                                },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ]

                },{% endfor %}
                {
                    id: "{{ soft_quizzes.id }}",
                    name: "{{ soft_quizzes.quizName }}",
                    duration:"{{ soft_quizzes.quizDuration | date("h:m:s")}}" ,
                    questions:[
                        {% for question in soft_quizzes.quizQuestions %}
                        {
                            id : "{{question.id  }}",
                            question: "{{ question.question }}",
                            answers: [
                                {% for answer in question.quizQuestionAnswers %}
                                {
                                    id : "{{ answer.id }}",
                                    answer: "{{ answer.answer }}",
                                    score: "{{ answer.score }}"
                                },
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                    ]

                }];

                var last_index = quizzes.length - 1;

                {#var quizzes_complete = [#}
                {#{% for quiz in quizzes_complete %}#}
                {#{#}
                    {#id: "{{ quiz.id }}",#}
                    {#name: "{{ quiz.quizName }}",#}
                    {#duration:"{{ quiz.quizDuration | date("h:m:s")}}" ,#}
                    {#coeff: "{{ quiz.quizCoeff }}",#}
                    {#questions:[#}
                        {#{% for question in quiz.quizQuestions %}#}
                        {#{#}
                            {#id : "{{question.id  }}",#}
                            {#question: "{{ question.question }}",#}
                            {#answers: [#}
                                {#{% for answer in question.quizQuestionAnswers %}#}
                                {#{#}
                                    {#id : "{{ answer.id }}",#}
                                    {#answer: "{{ answer.answer }}",#}
                                    {#score: "{{ answer.score }}"#}
                                {#},#}
                                {#{% endfor %}#}
                            {#]#}
                        {#},#}
                        {#{% endfor %}#}
                    {#]#}

                {#},{% endfor %}];#}
            {#var loading = $('#loadbar').hide();#}
            {#var length_quiz = quizzes.length;#}
            {#console.log(quiz_complete);#}
            $(document).on('click',"label.btn",function () {
                $('#quiz').hide();
                var choice = $(this).find('input:radio').val();
                var score = $(this).find('input:radio').attr('score');
                var question = {};
                question.question = quizzes[index_quiz]['questions'][index_question]['id'];
                question.answer = choice;
                response.id = quizzes[index_quiz].id;
                if(index_question == 0) response.score = parseInt(score);
                else  response.score += parseInt(score);
                response.response.push(question);
                        $('#loadbar').fadeIn();
                index_question ++;
                var question_length  = quizzes[index_quiz]['questions'].length;
                if(index_question < question_length ){
                    loadQuestion(index_quiz,index_question);
                    setTimeout(function(){
                        $('#quiz').show();
                        $('#loadbar').fadeOut();
                    }, 3000);
                }
                else {
                    saveQuizAnswer(response);
                    $('#loadbar').fadeOut();
                    $(".quizz_card,.quizz_container").toggleClass("d-none");
                    if(index_quiz == last_index){
                        $(".quiz_soft").html("Complete");    
                        return false;
                    } 
                    var selecteur = ".kl-"+index_quiz;
                    
                    $(selecteur).html("Complete");
                    $(selecteur).prop("disable",true);
                    $(selecteur).parent().parent().parent().parent().parent().toggleClass("border-left-primary border-left-success");

                    
                }

            });

             function loadQuestion(quiz_index,question_index) {
                 if(quizzes.length == 0)return;
                 $('#quiz').fadeIn();
                        
                var question = quizzes[quiz_index]['questions'][question_index];
                var question_name = question.question;
                var question_answers = '';
                for (var index in question.answers){
                    var answer = question.answers[index];
                    question_answers += '<label class="element-animation1 btn btn-lg btn-primary classiko btn-block"><span class="btn-label "></span> ';
                    question_answers += '<input type="radio" class="d-none" name="q_answer" value="'+answer.id+'" score="'+answer.score+'">'+answer.answer+'</label>';
                }
                $(".question").html(question_name);
                $(".quiz").html(question_answers);
                $("#qid").html(question_index+1);

             }

             function saveQuizAnswer(data){
                 $.ajax({
                    url: "{{ path('quiz_candidat_response_save') }}",
                     method: "post",
                     dataType:"json",
                     data: data,
                     success:function (response) {
                         console.log(response);
                     }
                 });
             }
            $(".kl-play").click(function(){

                response.response = [];
                index_quiz = $(this).data('index');
                $(".kl-quizz-title").html(quizzes[index_quiz]["name"]);
                $(".quizz_card,.quizz_container").toggleClass("d-none");
                $('#loadbar').show();
                setTimeout(function(){
                        $('#loadbar').fadeOut();
                        $('#qid').html("1");
                        index_question = 0;
                        loadQuestion(index_quiz,index_question);
                    }, 4000);
                setTimeout(function(){
                    $('#qid').html("1")
                    $('.question').html("Ready")
                    
                    }, 1000);
                setTimeout(function(){
                    $('#qid').html("2")
                    }, 2000);
                setTimeout(function(){
                        $('#qid').html("3")
                    }, 3000);
                
            });
            $(".quiz_soft").click(function () {
                response.response = [];
                if($(".quiz_soft").html() == "Complete") return;
                $(".quizz_card,.quizz_container").toggleClass("d-none");
                $('#loadbar').show();
                $('.kl-quizz-title').html("Soft skill quizz")
                setTimeout(function(){
                        $('#loadbar').fadeOut();
                        $('#qid').html("1");
                        index_quiz = last_index;
                        loadQuestion(last_index,0);
                    }, 4000);
                setTimeout(function(){
                    $('#qid').html("1")
                    $('.question').html("Ready")
                    
                    }, 1000);
                setTimeout(function(){
                    $('#qid').html("2")
                    }, 2000);
                setTimeout(function(){
                        $('#qid').html("3")
                    }, 3000);
            });
            $(".replay").click(function(){
                var triggers = "#"+$(this).data('quiz'); 
                $(triggers).click();   
            });

            var x = [
                {% for quizz in quizzes_complete %}
                    '.quiz_name'+{{quizz.quiz.id}},
                {% endfor %}
            ];

            for (var i = 0; i < x.length ; i++){
                $(x[i]).toggleClass('d-none');
            }
        });
    </script>
{% endblock %}