{% extends 'base.html.twig' %}

{% block title %}Edit QuizType{% endblock %}

{% block body %}
    <h1>Edit QuizType</h1>

    {{ include('quiz_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_type_index') }}">back to list</a>

    {{ include('quiz_type/_delete_form.html.twig') }}
{% endblock %}
