{% extends 'base.html.twig' %}

{% block title %}New QuizType{% endblock %}

{% block body %}
    <h1>Create new QuizType</h1>

    {{ include('quiz_type/_form.html.twig') }}

    <a href="{{ path('quiz_type_index') }}">back to list</a>
{% endblock %}
