{% extends 'base.html.twig' %}

{% block title %}QuizType{% endblock %}

{% block body %}
    <h1>QuizType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_type.id }}</td>
            </tr>
            <tr>
                <th>QuizTypeName</th>
                <td>{{ quiz_type.quizTypeName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_type_index') }}">back to list</a>

    <a href="{{ path('quiz_type_edit', {'id': quiz_type.id}) }}">edit</a>

    {{ include('quiz_type/_delete_form.html.twig') }}
{% endblock %}
