{% set my_user = app.user%}
{% set locale = app.session.get('_locale')%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <title>{% block title %} Archi {% endblock %}</title>
    {% block stylesheets %}
         <link href="{{ asset('architect/main.css') }}" rel="stylesheet">
         <link href="{{ asset('css/sb-admin-2.css') }}" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('js/datatables/dataTables.bootstrap4.css') }}">
    {% endblock %}
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        {% include 'architect/head.html.twig' %}
        {% include 'architect/setting.html.twig' %}
        <div class="app-main">
            {% include 'architect/side.html.twig' %}
            <div class="app-main__outer">
                <div class="app-main__inner">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('architect/assets/scripts/main.js') }}"></script>
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    
    <!-- Bootstrap 4 >
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/datatables/jquery.dataTables.js') }}"></script-->
{% endblock %}

</body>
</html>