<div class="app-header header-shadow">
    <div class="app-header__logo">
        <div class="">
            <img src="{{ asset('logo/koann.png')}}" alt="KOANN" height="100px" length="197px" />
        </div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
    </div>
    <div class="app-header__content">
        <div class="app-header-left">
            <div class="search-wrapper">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon"><span></span></button>
                </div>
                <button class="close"></button>
            </div>
            <!--ul class="header-menu nav">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-database"> </i>
                        Statistics
                    </a>
                </li>
                <li class="btn-group nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-edit"></i>
                        Projects
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="javascript:void(0);" class="nav-link">
                        <i class="nav-link-icon fa fa-cog"></i>
                        Settings
                    </a>
                </li>
            </ul-->        
        </div>
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle" src="{% if my_user != null and my_user.picUrl != null %}{{  asset ("uploads/"~my_user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    {% if my_user.hasRole('ROLE_ADMIN') == 0%}
                                    <a href="{{path('profile')}}" tabindex="0" class="dropdown-item">Profil</a>
                                    <div tabindex="-1" class="dropdown-divider"></div>{%endif%}

                                        <a href="{{path('language')}}?lang={{ locale == 'fr' ? 'en' : 'fr'  }}" tabindex="0" class="dropdown-item">{{ "switch" | trans }} {{ locale == 'fr' ? 'en' : 'fr' | upper }}</a>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <a href="/logout" tabindex="0" class="dropdown-item">{{ 'logout' | trans }} <i class="fas fa-power-off ml-2"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading">
                                {% if my_user %}{{ my_user.username }} {% endif %}
                            </div>
                            <div class="widget-subheading">
                                
                            </div>
                        </div>
                        <div class="widget-content-right header-user-info ml-3">
                            <!--button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                            </button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>