<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                {% if my_user != null and  my_user.hasRole('ROLE_ADMIN') == 1%}
                <li class="app-sidebar__heading">{{ 'dashboard' | trans}}</li>
                <li>
                    <a href="{{path('admin_dashboard')}}" class="{% if dashboard is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        {{ 'dashboard' | trans}}
                    </a>
                </li>
                <li>
                    <a href="{{path('evaluation_dashboard')}}" class="{% if rating is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-graph1"></i>
                        {{ 'rating' | trans}}
                    </a>
                </li>
                <li class="app-sidebar__heading">{{ 'general' | trans}}</li>
                <li class="{% if basic is defined %}mm-active{% endif %}">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-server"></i>
                        {{ 'basic' | trans}}
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="{% if basic is defined %}mm-show mm-collapse{% endif %}">
                        <li class="{% if basic_city is defined %}mm-active{% endif %}">
                            <a href="#" >
                                <i class="metismenu-icon pe-7s-diamond "></i>
                                {{ 'city' | trans}}
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul class="{% if basic_city is defined %} mm-collapse{% endif %}">
                                <li>
                                    <a href="{{ path('city_index') }}" class="{% if cities is defined %} mm-active {%endif%}">
                                        <i class="metismenu-icon"></i>
                                        {{ 'city' | trans}}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('country_index') }}" class="{% if country_index is defined %} mm-active {%endif%}">
                                        <i class="metismenu-icon">
                                        </i>
                                        {{ 'country' | trans}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('sector_index') }}" class="{% if sector_index is defined %} mm-active {% endif%}">
                                <i class="metismenu-icon pe-7s-car"></i>
                                    {{ 'sector' | trans}}
                                {#<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>#}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('domain_index') }}" class="{% if domain_index is defined %} mm-active {%endif%}">
                                <i class="metismenu-icon pe-7s-display2"></i>
                                {{ 'domain' | trans}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('metier_index') }}" class="{% if job_index is defined %} mm-active {%endif%}">
                                <i class="metismenu-icon pe-7s-display2"></i>
                                {{ 'job' | trans}}
                            </a>
                        </li>        
                    </ul>
                </li>
                <li class="app-sidebar__heading">{{ 'skills' | trans }}</li>
                <li>
                    <a href="{{ path('hard_skills_index') }}" class="{% if hard_skills_index is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-science"></i>
                        {{ 'hard' | trans}}
                    </a>
                </li>
                <li>
                    <a href="{{ path('soft_skills_index') }}" class="{% if soft_skills_index is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-global"></i>
                        {{ 'soft' | trans}}
                    </a>
                </li>
                <li class="app-sidebar__heading">Quizz</li>
                <!--li>
                    <a href="{{ path('quiz_type_index') }}">
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>Type de quiz
                    </a>
                </li-->
                <li class="{% if quiz_x is defined %}mm-active{% endif %}">
                    <a href="#" {% if quiz_x is defined %} aria-expanded="true" {%endif%}>
                        <i class="metismenu-icon pe-7s-light">
                        </i>Quizz
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="{% if quiz_x is defined %} mm-show mm-collapse {%endif%}">
                        <li>
                            <a href="{{ path('quiz_index') }}" class="{% if quiz_index is defined %} mm-active {%endif%}">
                                <i class="metismenu-icon"></i>
                                {{ 'hard' | trans}}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('quiz_ss_index') }}" class="{% if quiz_ss_index is defined %} mm-active {%endif%}">
                                <i class="metismenu-icon">
                                </i>
                                {{ 'soft' | trans}}
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if my_user != null and my_user.hasRole('ROLE_CANDIDAT') == 1 and my_user.hasRole('ROLE_ADMIN') != 1%}
                <li class="app-sidebar__heading">{{ 'dashboard' | trans}}</li>
                <li>
                    <a href="{{ path('quiz_candidat_response_index') }}" class="{% if candidat_dashboard is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-rocket">
                        </i>{{ 'dashboard' | trans}}
                    </a>
                </li>
                <li class="app-sidebar__heading">{{ 'game' | trans}}</li>
                <li>
                    <a href="{{ path('play') }}"  class="{% if play is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-joy">
                        </i>Quizz
                    </a>
                </li>
                <li class="app-sidebar__heading">{{ 'setting' | trans}}</li>
                 <li>
                    <a href="{{ path('profile') }}"  class="{% if profile is defined %} mm-active {%endif%}">
                        <i class="metismenu-icon pe-7s-user">
                        </i>Profil
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
