{% extends 'base.html.twig' %}

{% block title %}Edit QuizQuestionAnswer{% endblock %}

{% block body %}
    <h1>Edit QuizQuestionAnswer</h1>

    {{ include('quiz_question_answer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_question_answer_index') }}">back to list</a>

    {{ include('quiz_question_answer/_delete_form.html.twig') }}
{% endblock %}
