{% extends 'base.html.twig' %}

{% block title %}New QuizQuestionAnswer{% endblock %}

{% block body %}
    <h1>Create new QuizQuestionAnswer</h1>

    {{ include('quiz_question_answer/_form.html.twig') }}

    <a href="{{ path('quiz_question_answer_index') }}">back to list</a>
{% endblock %}
