{% extends 'base.html.twig' %}

{% block title %}QuizQuestionAnswer{% endblock %}

{% block body %}
    <h1>QuizQuestionAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_question_answer.id }}</td>
            </tr>
            <tr>
                <th>Answer</th>
                <td>{{ quiz_question_answer.answer }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ quiz_question_answer.score }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_question_answer_index') }}">back to list</a>

    <a href="{{ path('quiz_question_answer_edit', {'id': quiz_question_answer.id}) }}">edit</a>

    {{ include('quiz_question_answer/_delete_form.html.twig') }}
{% endblock %}
