<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('login/images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="{{ asset('login/images/img-01.png') }}" alt="IMG">
                <p align="center" class="mt-n5" style="margin-top: -100px!important">
                    <img src="{{ asset('logo/koann.png')}}" alt="KOANN" height="100px" length="197px" align="center" />
                </p>
                
            </div>

            <form class="login100-form validate-form">
          
					<span class="login100-form-title">
						Login
					</span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="username" placeholder="login" id="id-pseudo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <input class="input100" type="password" name="pass" placeholder="password" id="id-pass">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="button" id="id-login">
                        Sign in
                    </button>
                </div>
                <div class="text-center p-t-12 text-danger incorrect d-none">
                    login or password incorrect !
                </div>

                {#<div class="text-center p-t-12">#}
						{#<span class="txt1">#}
							{#Forgot#}
						{#</span>#}
                    {#<a class="txt2" href="#">#}
                        {#Username / Password?#}
                    {#</a>#}
                {#</div>#}

                <div class="text-center p-t-136">
                    <a class="txt2" href="{{path('registration')}}">
                        Create account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/tilt/tilt.jquery.min.js') }}"></script>
<script >
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="{{ asset('login/js/main.js') }}"></script>
<script>
    $(document).ready(function () {
        //location.reload();
        $("#id-login").click(function () {
            var pseudo = $("#id-pseudo").val();
            var pass = $("#id-pass").val();
            var data = {};
            data.username = pseudo;
            data.pwd = pass;
            $.ajax({
                url: "{{ path('login_ajax') }}",
                method:"post",
                data: data,
                dataType: "json",
                success:function (data) {
                    if(data.message.trim().toUpperCase() == 'OK'){
                        location.reload();
                    }
                    else {
                        $(".incorrect").removeClass('d-none');
                    }
                }
            })
        });
    });
</script>
</body>
</html>