{% extends 'base.html.twig' %}

{% block title %}Diplome{% endblock %}

{% block body %}
    <h1>Diplome</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diplome.id }}</td>
            </tr>
            <tr>
                <th>DiplomeUrl</th>
                <td>{{ diplome.diplomeUrl }}</td>
            </tr>
            <tr>
                <th>DiplomeDescription</th>
                <td>{{ diplome.diplomeDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('diplome_index') }}">back to list</a>

    <a href="{{ path('diplome_edit', {'id': diplome.id}) }}">edit</a>

    {{ include('diplome/_delete_form.html.twig') }}
{% endblock %}
