{% extends 'architect/architect.html.twig' %}
{% set quiz = 'active' %}
{% set quizs = 'active' %}
{% block title %}Quiz index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}" >
    <style type="text/css">
       .rating {
            direction: rtl;
        }
        .rating a {
           color: #aaa;
           text-decoration: none;
           font-size: 1em;
           transition: color .4s;
        }
        .rating a .active,
        {
           color: orange;
        }
    </style>
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-user icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'profil' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            
        </div>
    </div>
</div>

    {% include('dashboard/candidat_skills.html.twig') %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      var evolution_url = "{{path('skill_evolution')}}";
      var labels = "";
      var data ="";
      
      {% if rule != null %}
      {% set index = 1 %}
      {% set max = soft_skills | length %}
      {% for skill in soft_skills %}
        var plus = "";
        {% if index != 1 %}
                plus += ",";          
                
        {% endif%}
        
        {% if rule.hasSoftSkills(skill) == false %}
            labels += plus+"{{skill.ssName}}";
            data += plus+"10";  
            {% else %}
            labels += plus+"{{skill.ssName}}";
            data += plus+"100";  
                 
        {% endif %}
        {% set index = index + 1 %} 
      {% endfor %};
      var avatar = document.getElementById('soft-skills-chart');
      var myRadarChart = new Chart(avatar, {
            type: 'radar',

            data: {
                  labels: labels.split(','),
                  datasets: [{
                      data: data.split(','),
                      backgroundColor: 'rgba(172,52,136,0.5)',
                      borderColor: 'rgba(0,254,58,1)',
                      label: "{{'soft' | trans }}"
                  }]
              },
            options: {
                        scale: {
                            angleLines: {
                                display: true
                            },
                            ticks:{
                              display: false
                            },
                            label:{ display: false}
                        }
                    }
        });
      {% endif %}
      {% if evolutions | length != 0%}
      var hard = document.getElementById('hard-skills-chart');
      data = [];
      labels = [];
      {% for evolution in evolutions %}
        data.push('{{evolution.score * 10 }}');
        labels.push('{{evolution.date | date('d/m/Y')}}');
      {%endfor%}
      var evolChart = new Chart(hard, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "{{'skill.evolution' | trans }}",
                        data: data,
                        backgroundColor:"rgba(28,155,224,0.4)",
                        borderColor: "'rgba(180,250,120,1)",
                        borderWidth: 1,
                        fill : true
                    }]
                },
                options: {
                    scales: {
                          yAxes: [{
                          ticks: {
                                fontStyle: "bold",
                                beginAtZero: true,
                                padding: 20
                            },
                          gridLines: {
                              drawTicks: false,
                              display: false,
                              zeroLineColor: "transparent"
                          }
                }],
                 xAxes: [{
                              gridLines: {
                                  zeroLineColor: "transparent",
                                  display: false
                      },
                              ticks: {
                                   padding: 20,
                                     fontStyle: "bold"
                              }
                           }]
                      }
                }
            });
      {% endif %}
    </script>
    <script type="text/javascript" src='{{ asset("js/custom.js")}}'></script>
{% endblock %}
