{% extends 'architect/architect.html.twig' %}
{% set rating = 'active' %}
{% block title %}Rating{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
    <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}" >
    <style type="text/css">
       .rating {
            direction: rtl;
        }
        .rating a {
           color: #aaa;
           text-decoration: none;
           font-size: 1em;
           transition: color .4s;
        }
        .rating a .active,
        {
           color: orange;
        }
    </style>
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-star icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>
                <div class="page-title-subheading">
                  <div class="row  d-flex ">
                    <div class="col-lg-4">
                      <select class="form-control" id="sector_search">
                        <option value="0">{{ 'all' | trans }} {{'sector' | trans}}s</option>
                        {% for sector in sectors %}
                          <option value="{{sector.id}}"> {{sector.label}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <select class="form-control" id="domain_search">
                        <option value="0">{{ 'all' | trans }} {{'domain' | trans}}s</option>
                        {% for domain in domains %}
                          <option value="{{domain.id}}" class="domain sector-{{domain.sector.id}}"> {{domain.domainLabel}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <select class="form-control" id="job_search" >
                        <option value="0">{{ 'all' | trans }} {{'job' | trans}}s</option>
                        {% for job in jobs %}
                          <option value="{{job.id}}" class="job domain-{{job.domain.id}}"> {{job.metierName}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <div class="col-lg-3">
                <button class="btn btn-info pull-right" id='search'><i class="fas fa-search"></i> {{'search' | trans}}</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
  {% for user in users %}
      <div class="col-xl-4 col-md-6 mb-4 user {% if user.user.metier != null %} metier{{user.user.metier.id}} domain{{user.user.metier.domain.id}} sector{{user.user.metier.domain.sector.id}} {% endif %}">
            <div class="card border-top-info shadow h-100 py-2 ">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                          </div>
                          <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
                            <p class="card-category" align="center">{{user.user.firstname}} <br>{{user.user.name}}</p>
                          </div>
                          <hr>
                          <div class="text-xs font-weight-bold text-gray text-uppercase mb-1"  style="height:25px !important;top:auto;bottom: auto;">
                            <div class="row">
                              <div class="col-lg-6" >
                                {{user.user.metier != null ? user.user.metier.metierName : ""}}
                              </div>
                              <div class="col-lg-6">
                                {%set score = user.score != null ? user.score : 0%}
                                {% set stars = score * 5 %}
                                <span class="rating">
                                        {%for i in 0..4%}
                                        <a href="#" title="" class="{%if i < stars %}text-warning{% endif %}" >
                                          ☆
                                        </a>
                                      {%endfor%}
                                    </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <img width="70" height="70" class="rounded-circle" src="{% if user.user.picUrl %}{{  asset ("uploads/"~user.user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" alt="">
                        </div>
                    </div>
                    <div class="row">

                      <div class="col-lg-12">
                        <hr>
                        {% if user.rule != null %}
                            {% for soft_skill in user.rule.softSkills %}
                            <div style="display: inline-block;font-size: 0.7em">
                              <i class="fas fa-check"></i>
                                <span class="text mr-1 ">{{ soft_skill.ssName}}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                              <p align="center">** {{ 'nothing.to.show' | trans }} **</p>
                          {% endif %}

                          <hr>
                          <p align="center" class="mb-n1 ">
                          <a href="{{path('candidate_profile',{'id': user.user.id })}}" style="text-align: center; font-size: 40px"  class="btn btn-default mb-n4 mt-n4 text-info" ><i class="pe-7s-user "></i></a>  
                          </p>                          
                      </div>
                    </div>
                </div>
            </div>
        </div>
  {% endfor %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      $("#sector_search").change(function(){
          var selected = $(this).val();
          var domain_selector = '.sector-'+selected;
          $("#domain_search").val(0);
          $("#job_search").val(0);
          $(".domain, .job").addClass("d-none");
          $(domain_selector).removeClass("d-none");
      });
      $("#domain_search").change(function(){
          var selected = $(this).val();
          var job_selector = '.domain-'+selected;
          $("#job_search").val(0);
          $(".job").addClass("d-none");
          $(job_selector).removeClass("d-none");
      });
      $("#search").click(function(){
        var metier = $("#job_search").val();
        var domain = $("#domain_search").val();
        var sector = $("#sector_search").val();
        if(metier !=0 ){
          var selector = '.metier'+metier;
          $(".user").addClass("d-none");
          $(selector).removeClass('d-none');
          return;
        }
        else if(metier == 0 && domain != 0)
        {
          var selector = '.domain'+domain;
          $(".user").addClass("d-none");
          $(selector).removeClass('d-none');
          return;
        }
        else if(domain == 0 && sector != 0){
          var selector = '.sector'+sector;
          $(".user").addClass("d-none");
          $(selector).removeClass('d-none');
          return ;
        }
        else{
          
          $(".user").removeClass('d-none');
          return;
        } 
          
      });
    </script>
{% endblock %}
