{% set my_user = app.user%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} KOANN {% endblock %}</title>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 3 | Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
        <!-- Ionicons -->
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset("plugins/jqvmap/jqvmap.min.css") }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset("dist/css/adminlte.min.css") }}">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="{{ asset("plugins/overlayScrollbars/css/OverlayScrollbars.min.css") }}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset("plugins/daterangepicker/daterangepicker.css") }}">
        <!-- summernote -->
        <link rel="stylesheet" href="{{ asset("plugins/summernote/summernote-bs4.css") }}">

        <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">

    {% endblock %}
    <!--link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/-->
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div id="wrapper">
    {% include 'backoffice/admin_lite_top.html.twig' %}
    {% include 'backoffice/admin_lide_side.html.twig' %}
    <section class="content-wrapper">
        <div class="container-fluid">
            <br>
            <br>
            <br>
            <br>
            <main>
                {% block body %}{% endblock %}
            </main>
        </div>
    </section>

</div>
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% include 'backoffice/modal.html.twig' %}

{% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
    <!-- Sparkline -->
    <script src="{{ asset('plugins/sparklines/sparkline.js') }}"></script>
    {#<!-- JQVMap -->#}
    {#<script src="{{ asset('plugins/jqvmap/jquery.vmap.min.js') }}"></script>#}
    {#<script src="{{ asset('plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>#}
    <!-- jQuery Knob Chart -->
    <script src="{{ asset('plugins/jquery-knob/jquery.knob.min.js') }}"></script>
    <!-- daterangepicker -->
    <script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
    <script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <!-- Summernote -->
    <script src="{{ asset('plugins/summernote/summernote-bs4.min.js') }}"></script>
    <!-- overlayScrollbars -->
    <script src="{{ asset('plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/adminlte.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    {#<script src="{{ asset('dist/js/pages/dashboard.js') }}"></script>#}
    <!-- AdminLTE for demo purposes -->
    {#<script src="{{ asset('dist/js/demo.js') }}"></script>#}
    <script>
        $(document).ready(function(){
            var y_normal_width = $(".y").width();
            var y_anormal_width = 73.5938;
            var collapse = true;
            var window_width = $(window).width();
            $(".x").width($(window).width()-$(".y").width());
            $(".z").click(function(){
                collapse = !collapse;
                var width = collapse ? y_normal_width : y_anormal_width;
                $(".x").width(window_width - width);

            });
            $(".select2").select2();
        });
    </script>
{% endblock %}

</body>
</html>