<aside class="main-sidebar sidebar-dark-primary elevation-4 y" style="position:fixed">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img  src=" {% if my_user %}{{  asset ("uploads/"~my_user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">KOANN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% if my_user %}{{  asset ("uploads/"~my_user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ my_user ? my_user.username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library --><!--menu-open-->
                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index2.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {#<li class="nav-item">#}
                    {#<a href="pages/widgets.html" class="nav-link">#}
                        {#<i class="nav-icon fas fa-th"></i>#}
                        {#<p>#}
                            {#Widgets#}
                            {#<span class="right badge badge-danger">New</span>#}
                        {#</p>#}
                    {#</a>#}
                {#</li>#}
                <li class="nav-item has-treeview {% if base is defined %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if base is defined %}active{% endif %}">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Données de base
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview {% if base is defined and ville is defined %}menu-open{% endif %}">
                            <a href="#" class="nav-link {% if ville is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ville</p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview ml-4">
                                    <a href="{{ path("city_index") }}" class="nav-link {% if city is defined %}active{% endif %}">
                                        <p>Ville</p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview ml-4">
                                    <a href="{{ path("country_index") }}" class="nav-link {% if country is defined %}active{% endif %}">
                                        <p>Pays</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("sector_index") }}" class="nav-link {% if secteur is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Secteur</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("domain_index") }}" class="nav-link {% if domain is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Domain</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("metier_index") }}" class="nav-link {% if metier is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Metier</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("civility_index") }}" class="nav-link {% if civility is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Civilité</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview {% if quiz is defined %}menu-open{% endif %}" >
                    <a href="#" class="nav-link {% if quiz is defined %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Quiz
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('quiz_type_index') }}" class="nav-link {% if quiz_type is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Type de Quiz</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("quiz_index") }}" class="nav-link {% if quizs is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quiz</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("quiz_question_with_answer") }}" class="nav-link {% if question is defined %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Question</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Skills
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path('hard_skills_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hard Skills</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('soft_skills_index') }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Soft Skills</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon fas fa-edit"></i>#}
                        {#<p>#}
                            {#Forms#}
                            {#<i class="fas fa-angle-left right"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/forms/general.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>General Elements</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/forms/advanced.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Advanced Elements</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/forms/editors.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Editors</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/forms/validation.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Validation</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon fas fa-table"></i>#}
                        {#<p>#}
                            {#Tables#}
                            {#<i class="fas fa-angle-left right"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/tables/simple.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Simple Tables</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/tables/data.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>DataTables</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/tables/jsgrid.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>jsGrid</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-header">EXAMPLES</li>#}
                {#<li class="nav-item">#}
                    {#<a href="pages/calendar.html" class="nav-link">#}
                        {#<i class="nav-icon far fa-calendar-alt"></i>#}
                        {#<p>#}
                            {#Calendar#}
                            {#<span class="badge badge-info right">2</span>#}
                        {#</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="pages/gallery.html" class="nav-link">#}
                        {#<i class="nav-icon far fa-image"></i>#}
                        {#<p>#}
                            {#Gallery#}
                        {#</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon far fa-envelope"></i>#}
                        {#<p>#}
                            {#Mailbox#}
                            {#<i class="fas fa-angle-left right"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/mailbox/mailbox.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Inbox</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/mailbox/compose.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Compose</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/mailbox/read-mail.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Read</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon fas fa-book"></i>#}
                        {#<p>#}
                            {#Pages#}
                            {#<i class="fas fa-angle-left right"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/invoice.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Invoice</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/profile.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Profile</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/e_commerce.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>E-commerce</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/projects.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Projects</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/project_add.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Project Add</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/project_edit.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Project Edit</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/project_detail.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Project Detail</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/contacts.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Contacts</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon far fa-plus-square"></i>#}
                        {#<p>#}
                            {#Extras#}
                            {#<i class="fas fa-angle-left right"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/login.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Login</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/register.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Register</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/forgot-password.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Forgot Password</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/recover-password.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Recover Password</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/lockscreen.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Lockscreen</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/legacy-user-menu.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Legacy User Menu</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/language-menu.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Language Menu</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/404.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Error 404</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/500.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Error 500</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/pace.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Pace</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="pages/examples/blank.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Blank Page</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="starter.html" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Starter Page</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-header">MISCELLANEOUS</li>#}
                {#<li class="nav-item">#}
                    {#<a href="https://adminlte.io/docs/3.0" class="nav-link">#}
                        {#<i class="nav-icon fas fa-file"></i>#}
                        {#<p>Documentation</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-header">MULTI LEVEL EXAMPLE</li>#}
                {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="fas fa-circle nav-icon"></i>#}
                        {#<p>Level 1</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item has-treeview">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon fas fa-circle"></i>#}
                        {#<p>#}
                            {#Level 1#}
                            {#<i class="right fas fa-angle-left"></i>#}
                        {#</p>#}
                    {#</a>#}
                    {#<ul class="nav nav-treeview">#}
                        {#<li class="nav-item">#}
                            {#<a href="#" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Level 2</p>#}
                            {#</a>#}
                        {#</li>#}
                        {#<li class="nav-item has-treeview">#}
                            {#<a href="#" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>#}
                                    {#Level 2#}
                                    {#<i class="right fas fa-angle-left"></i>#}
                                {#</p>#}
                            {#</a>#}
                            {#<ul class="nav nav-treeview">#}
                                {#<li class="nav-item">#}
                                    {#<a href="#" class="nav-link">#}
                                        {#<i class="far fa-dot-circle nav-icon"></i>#}
                                        {#<p>Level 3</p>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="nav-item">#}
                                    {#<a href="#" class="nav-link">#}
                                        {#<i class="far fa-dot-circle nav-icon"></i>#}
                                        {#<p>Level 3</p>#}
                                    {#</a>#}
                                {#</li>#}
                                {#<li class="nav-item">#}
                                    {#<a href="#" class="nav-link">#}
                                        {#<i class="far fa-dot-circle nav-icon"></i>#}
                                        {#<p>Level 3</p>#}
                                    {#</a>#}
                                {#</li>#}
                            {#</ul>#}
                        {#</li>#}
                        {#<li class="nav-item">#}
                            {#<a href="#" class="nav-link">#}
                                {#<i class="far fa-circle nav-icon"></i>#}
                                {#<p>Level 2</p>#}
                            {#</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="fas fa-circle nav-icon"></i>#}
                        {#<p>Level 1</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-header">LABELS</li>#}
                {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon far fa-circle text-danger"></i>#}
                        {#<p class="text">Important</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon far fa-circle text-warning"></i>#}
                        {#<p>Warning</p>#}
                    {#</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a href="#" class="nav-link">#}
                        {#<i class="nav-icon far fa-circle text-info"></i>#}
                        {#<p>Informational</p>#}
                    {#</a>#}
                {#</li>#}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
