<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} KOANN {% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="{{ asset('css/sb-admin-2.min.css') }}" rel="stylesheet">
    {% endblock %}
    <!--link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/-->
</head>
<body id="page-top">
<div id="wrapper">
    {% include 'backoffice/sidebar.html.twig' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'backoffice/topbar.html.twig' %}
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>
                <main>
                    {% block body %}{% endblock %}
                </main>
            </div>

            {% include 'backoffice/footer.html.twig' %}
        </div>
    </div>
</div>
{% include 'backoffice/modal.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-easing/jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sb-admin-2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/chart.js/Chart.min.js') }}"></script>
{% endblock %}

</body>
</html>