{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label >Quizz</label>
                {{ form_widget(form.quizName,{ 'attr':{'class':'form-control'}}) }}
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                <label >{{'job' | trans }}(s)</label>
                {{ form_widget(form.metiers,{ 'attr':{'class':'form-control select2',"data-dropdown-css-class": "select2-purple"}}) }}
            </div>
        </div>
        <div class="col-lg-8"> <button class="btn btn-info ">{{ button_label|default('Save') }}</button></div>
        
    </div>
</div>
{{ form_end(form) }}


