{% extends 'architect/architect.html.twig' %}
{% set quiz_x = 'active' %}
{% set quiz_index = 'active' %}
{% block title %}Quiz index{% endblock %}

{% block body %}
<h2 class="text-info"> Quizz : {{ quizz.quizName}}</h2>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active mon-menu" data-view="kl-list">
                <span>List of questions</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a role="tab" class="nav-link mon-menu " data-view="kl-form">
                <span>New question</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary kl-title">List of questions</h6>

                </div>                <!-- Card Body -->
                <div class="card-body">
                    <div class="kl-list">
                        <table class="table w-100" id="example">
                            <thead>
                            <tr>
                                <th>Question</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr>
                                    <td>{{ question.question }}</td>
                                    <td>
                                       <button class="btn btn-info edit-question get-quiz" data-question="{{question.id}}" data-toggle="modal" data-target="#modal-question">	<span class="fas fa-eye">	</span>	
                                       </button>
                                       <button class="btn btn-danger delete-question" data-toggle="modal" data-target="#confirm" data-question="{{question.id}}">	<span class="fas fa-trash" >	</span>	
                                       </button>  
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="kl-form d-none">
                        <form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="id-quiz" value="{{ quizz.id }}">
             
                                        </select>
                                        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Hard skills</label>
                                        <select class="form-control select2" id="id-savoir-faire"  placeholder="savoir faire" multiple="true">
                                        	{% for hard_skill in hard_skills %}
                                        	<option value="{{hard_skill.id}}">	{{hard_skill.hsName}}</option>
                                        	{% endfor%}
                                        </select>
                                        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Question</label>
                                        <input type="text" class="form-control" id="id-question" placeholder="question">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Choice</label>
                                        <input type="text" class="form-control" id="id-reponse" placeholder="reponse">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group kl-solution mt-4">
                                        <label class="form-check-label mt-3"><input type="checkbox" id="id-score" class="form-check-input">Correct choice</label>
                                    </div>
                                </div>
                                <div class="col-lg-1 mt-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-info mt-4 -pull-right btn-circle" id="id-add-answer">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h4>Choices</h4>
                                <table class="table table-striped" id="id-responses">

                                </table>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary" id="id-save-question">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
  <div class="modal fade" style="margin-top: 50px; "id="confirm" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure to delete this question?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a  href="#" class="btn btn-primary delete">Delete</a>
            </div>
        </div>
    </div>
</div>

  <div class="modal fade" style="margin-top: 50px; "id="modal-question" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body question">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
        	var question_id = 0;
            var is_set_bonne_reponse = false;
            $(".mon-menu").click(function () {
                if($(this).hasClass("active"))return;
                $(".mon-menu").removeClass("active");
                $(this).addClass("active");
                var show = "."+$(this).data("view");
                $(".kl-form ,.kl-list").toggleClass('d-none');
                if(show == ".kl-list"){
                    $(".kl-title").html("List of questions");
                }
                else {
                    $(".kl-title").html("New question");
                }
            });
            
            $(".select2").select2();
            $(".form").hide();
            var answers = [];
            $("#id-add-answer").click(function () {
                var answer  = { "id" :0, "score": 0, "reponse" : ""};
                var reponse = $("#id-reponse").val();
                var score = 0;
                if(!is_set_bonne_reponse)
                    score   = document.getElementById("id-score").checked ? 1 : 0;
                if(score == 1) {
                    $("#id-score").prop("checked",false);
                    is_set_bonne_reponse = true;
                    $(".kl-solution").hide();
                }
                if(reponse.length < 1 ) return;
                answer.score = score;
                answer.reponse = reponse;
                var x = answer;
                answers.push(x);
                listAnswerOfAQuestion();

                $("#id-reponse").val("");
                $("#id-score").val("");
            });
            function listAnswerOfAQuestion(){
                var list ='';
                var length = answers.length;
                for(var i = 0 ; i < length ; i++){
                    var check =  parseInt(answers[i].score) == 1 ? '<i class="pe-7s-check"></i>' : " ";
                    list += "<tr>";
                    list += "<td>"+answers[i].reponse;
                    list += "<td>"+check;
                    list += "<td> <button class='close kl-delete-answer' type='button' data-index='"+i+"'  data-score='"+answers[i].score+"'>x</button>";
                    list += "<td>";
                }
                $("#id-responses").html(list);
            }
            $(document).on('click',".kl-delete-answer",function () {
                var index = $(this).data('index');
                var score = $(this).data('score');
                 if(score == 1) {
                     is_set_bonne_reponse = false;
                     $(".kl-solution").show();
                 }
                answers.splice(index,1);
                listAnswerOfAQuestion();
            });

            $("#id-save-question").click(function () {
                var data = { "id":0,"quiz":0,"question":"","answers":""};
                var quiz = $("#id-quiz").val();
                var question = $("#id-question").val();
                var hard_skills = $("#id-savoir-faire").val();
                if(question.length < 1 || quiz < 1 || answers.length < 1 ) return ;
                data.quiz = quiz;
                data.question = question;
                data.answers = answers;
                data.hs = hard_skills;
                $.ajax({
                    url : "{{ path("quiz_question_new") }}",
                    method: "POST",
                    data : data,
                    dataType: "JSON",
                    success: function(data){
                        console.log(data);
                        location.reload();
                    }
                });
            })
            $(".delete").click(function(){
            	$.ajax({
                    url : "{{ path("quiz_question_delete_ajax") }}",
                    method: "POST",
                    data : {question: question_id},
                    dataType: "JSON",
                    success: function(data){
                        location.reload();
                    }
                });
            });
            $(".delete-question").click(function(){
            	question_id = $(this).data('question');
            });
            
            controlAddResponse();
            controlAddQuestion();
            function controlAddResponse(){
                var reponse = $("#id-reponse").val();
                if(reponse.length < 1 ) {
                    $("#id-add-answer").prop('disabled',true);
                }
                else $("#id-add-answer").prop('disabled',false);
            }
            function controlAddQuestion(){
                var quiz = $("#id-quiz").val();
                var question = $("#id-question").val();
                if(question.length < 1 || quiz < 1) {
                    $("#id-save-question").prop('disabled',true);
                }
                else $("#id-save-question").prop('disabled',false);
            }

            $("#id-reponse,#id-quiz,#id-question,#id-score").change(function () {
                controlAddResponse();
                controlAddQuestion();
            })
            $("#id-score").keyup(function () {
                controlAddResponse();
                controlAddQuestion();
            })
            $("#id-quiz").change(function () {
              var quiz = $(this).val();
              $.ajax({
                  url: "{{ path("quiz_hard_skills") }}",
                  data : {quiz:quiz},
                  method:"post",
                  dataType:"json",
                  success:function (data) {
                      console.log(data);
                      $("#id-savoir-faire").html(data.html);
                  }
              });
            })
            $(".get-quiz").click(function(){
                var question = $(this).data("question");
                $.ajax({
                    url: "{{ path('quiz_question_form_ajax')}}",
                    method: "POST",
                    data:{ question: question},
                    success: function(data){
                        $(".question").html(data.form);
                    }
                })
            })
        });
    </script>
{% endblock %}
