{% extends 'architect/architect.html.twig' %}
{% set quiz_x = 'active' %}
{% set quiz_index = 'active' %}
{% block title %}Quiz index{% endblock %}

{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-light icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>Quizz  {{'hard' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active mon-menu" data-view="kl-list">
                <span>{{'listof' | trans }} quizz</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a role="tab" class="nav-link mon-menu " data-view="kl-form">
                <span>{{'new' | trans }} quizz</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary kl-title">{{'listof' | trans }}  quizz</h6>

                </div>                <!-- Card Body -->
                <div class="card-body">
                    <div class="kl-list">
                        <table class="table w-100" id="example">
                            <thead>
                            <tr>
                                <th>Quizz</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quiz in quizzes %}
                            {%if quiz.id != 1 %}
                                <tr>
                                    <td>{{ quiz.quizName }}</td>
                                    <td>
                                        <a href="{{ path('quiz_edit', {'id': quiz.id}) }}"><span class="fas fa-eye">  </span></a>
                                        {% if quiz.quizCandidatAnswers | length < 1%}
                                        {% include 'quiz/_delete_form.html.twig'%}
                                        {% endif %}
                                    </td>
                                </tr>
                            {%endif%}
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="kl-form d-none">
                        {{ include('quiz/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function () {
                if($(this).hasClass("active"))return;
                $(".mon-menu").removeClass("active");
                $(this).addClass("active");
                var show = "."+$(this).data("view");
                $(".kl-form ,.kl-list").toggleClass('d-none');
                if(show == "kl-list"){
                    $(".kl-title").html("List of quizz");
                }
                else {
                    $(".kl-title").html("New quizz");
                }
            });
            $(".select2").select2();
        });
        
    </script>
{% endblock %}
