<h5>{{ question.question }}</h5>
{% for answer in question.quizQuestionAnswers %}
<hr>
<div class="row">
    <div class="col-lg-10">
        {{ answer.answer }}
    </div>
    <div class="col-lg-2">
        {%if answer.score == 1%}
        <span> <i class="pe-7s-check"></i></span>
        {% endif %}
    </div>
</div>
{% endfor%}
