<form method="post"  style="display: inline"action="{{ path('soft_skills_delete', {'id': soft_skill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soft_skill.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
