{% extends 'architect/architect.html.twig' %}
{% block title %}SoftSkills index{% endblock %}
{% set soft_skills_index = 'active' %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'soft' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{'listof' | trans }} {{'soft' | trans }}</h6>
                </div>                <!-- Card Body -->
                <div class="card-body">
                    <table class="table" id="example">
                        <thead>
                        <tr>
                            <th>{{'soft' | trans }}</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for soft_skill in soft_skills %}
                            <tr>
                                <td>{{ soft_skill.ssName }}</td>
                                <td>
                                    <a href="{{ path('soft_skills_edit', {'id': soft_skill.id}) }}"><i class="fas fa-edit" class="btn"></i>
                                    </a>
                                    {% if soft_skill.rules | length < 1%}
                                    {% include 'soft_skills/_delete_form.html.twig'%}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{'soft' | trans }}s</h6>
                </div>
                <div class="card-body">
                    {{ include('soft_skills/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function(){
                if($(this).hasClass('active')) return;
                $(".mon-menu,.tab-pane").toggleClass('active');    
            });
        });
    </script>
    
{% endblock %}