{% extends 'base.html.twig' %}

{% block title %}SoftSkills{% endblock %}

{% block body %}
    <h1>SoftSkills</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soft_skill.id }}</td>
            </tr>
            <tr>
                <th>SsName</th>
                <td>{{ soft_skill.ssName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soft_skills_index') }}">back to list</a>

    <a href="{{ path('soft_skills_edit', {'id': soft_skill.id}) }}">edit</a>

    {{ include('soft_skills/_delete_form.html.twig') }}
{% endblock %}
