{% extends 'base.html.twig' %}

{% block title %}Edit QuizSs{% endblock %}

{% block body %}
    <h1>Edit QuizSs</h1>

    {{ include('quiz_ss/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_ss_index') }}">back to list</a>

    {{ include('quiz_ss/_delete_form.html.twig') }}
{% endblock %}
