{% extends 'architect/architect.html.twig' %}

{% block title %}QuizQuestion index{% endblock %}
{% set quiz_x = 'active' %}
{% set quiz_ss_index = 'active' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}" >
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-light icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>Quizz  {{'soft' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">

        <li class="nav-item">
            <a role="tab" class="nav-link {% if page == 0 %} active {% endif %} mon-menu" data-view="kl-rule">
                <span>{{'rule' | trans }}s </span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link mon-menu {% if page == 1 %} active {% endif %}" data-view="kl-list">
                <span>Questions</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link mon-menu " data-view="kl-form">
                <span>{{'newe' | trans }}  question</span>
            </a>
        </li>
    </ul>
    <div class="row charge d-none">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary kl-title">{{'rule' | trans }}s </h6>
                </div>                <!-- Card Body -->
                <div class="card-body">
                    <div class="kl-rule {% if page == 1 %} d-none {% endif %}">
                        <form method="POST" action="{{ path('quizz_ss_new')}}">
                            <div class="row">                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <h3>{{'rule' | trans }}s </h3>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <h3>{{'soft' | trans }} </h3>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <p>Maximum {{'of' | trans }}  1</p>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control select2" multiple ="true" id="quiz_ss_1" name="quiz_ss_1[]"  placeholder="Savoirs être">
                                            {% for soft_skill in soft_skills %}
                                                <option value="{{ soft_skill.id }}" {% if soft_skill in rule1_soft_skills %} selected="selected" {%endif%}>{{ soft_skill.ssName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <p>Maximum {{'of' | trans }} 2</p>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control select2" multiple ="true" id="quiz_ss_2" name="quiz_ss_2[]"  placeholder="Savoirs être">
                                            {% for soft_skill in soft_skills %}
                                                <option value="{{ soft_skill.id }}" {% if soft_skill in rule2_soft_skills %} selected="selected" {%endif%}>{{ soft_skill.ssName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <p>Maximum {{'of' | trans }} 3</p>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control select2" multiple ="true" id="quiz_ss_3" name="quiz_ss_3[]"  placeholder="Savoirs être">
                                            {% for soft_skill in soft_skills %}
                                                <option value="{{ soft_skill.id }}" {% if soft_skill in rule3_soft_skills %} selected="selected" {%endif%}>{{ soft_skill.ssName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <p>Maximum {{'of' | trans }} 4</p>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <select class="form-control select2" multiple ="true" id="quiz_ss_4" name="quiz_ss_4[]"  placeholder="Savoirs être">
                                            {% for soft_skill in soft_skills %}
                                                <option value="{{ soft_skill.id }}" {% if soft_skill in rule4_soft_skills %} selected="selected" {%endif%}>{{ soft_skill.ssName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary ml-2">{{'Save' | trans }}</button>
                            </div>
                        </form>
                    </div>
                    <div class="kl-form d-none">
                        <form method="post" action="{{path('quiz_ss_question_new')}}" id="form">  
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Question</label>
                                <input type="text" class="form-control" name="question" placeholder="question" required="true">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>{{ 'choice.number' | trans }} 1</label>
                                <input type="text" class="form-control"  name="answer1" placeholder="choix" required="true">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>{{ 'choice.number' | trans }} 2</label>
                                <input type="text" class="form-control"  name="answer2" placeholder="choix" required="true">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>{{ 'choice.number' | trans }} 3</label>
                                <input type="text" class="form-control"  name="answer3" placeholder="choix" required="true">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>{{ 'choice.number' | trans }} 4</label>
                                <input type="text" class="form-control"  name="answer4" placeholder="choix" required="true">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="submit" id="add-question">{{ 'Save' | trans }}</button>
                        </div>
                        </form>
                    </div>
                    <div class="kl-list {% if page == 0 %} d-none {% endif %}">
                        <table class="table w-100" id="example">
                        <thead>
                        <tr>
                            <th>Question</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.question }}</td>
                                <td>
                                   <button data-url="{{path('quiz_ss_question_delete',{ 'id': question.id})}}" data-toggle="modal" data-target="#confirm" class="btn btn-danger del"><span class="fas fa-trash">  </span> </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
<div class="modal fade" style="margin-top: 30px; "id="confirm" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Are you sure to delete this question?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a  href="#" class="btn btn-primary delete">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.charge').removeClass("d-none");
            $(".mon-menu").click(function () {
                if($(this).hasClass('active')) return;
                $(".mon-menu").removeClass("active");
                $(this).addClass("active");
                var show = "."+$(this).data("view");
                $(".kl-form ,.kl-rule,.kl-list").addClass('d-none');
                $(show).toggleClass("d-none");
                if(show == ".kl-list"){
                    $(".kl-title").html("{{'listof' | trans }} questions");
                }
                else if(show == ".kl-rule"){
                    $(".kl-title").html("{{'rule' | trans }}s");
                }
                else{
                    $(".kl-title").html("{{'newe' | trans }} question");
                }
            });
            $(".select2").select2();
            $('.del').click(function(){
                var link = $(this).data('url');
                $(".delete").attr('href',link);
            })
        });
    </script>
{% endblock %}
