{% extends 'base.html.twig' %}

{% block title %}New QuizSs{% endblock %}

{% block body %}
    <h1>Create new QuizSs</h1>

    {{ include('quiz_ss/_form.html.twig') }}

    <a href="{{ path('quiz_ss_index') }}">back to list</a>
{% endblock %}
