{% extends 'base.html.twig' %}

{% block title %}QuizSs{% endblock %}

{% block body %}
    <h1>QuizSs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_ss.id }}</td>
            </tr>
            <tr>
                <th>Quiz_name</th>
                <td>{{ quiz_ss.quizName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_ss_index') }}">back to list</a>

    <a href="{{ path('quiz_ss_edit', {'id': quiz_ss.id}) }}">edit</a>

    {{ include('quiz_ss/_delete_form.html.twig') }}
{% endblock %}
