{% extends 'architect/architect.html.twig' %}
{% set basic = 'active' %}
{% set basic_city = 'active' %}
{% set city = 'active' %}
{% block title %}Edit City{% endblock %}

{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>City
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        Edit city
                    </div>
                </div>
                <div class="card-body">
          
    {{ include('city/_form.html.twig', {'button_label': 'Update'}) }}
          
                </div>
            </div>
        </div>
    </div>
{% endblock %}
