{% extends 'architect/architect.html.twig' %}

{% block title %}civility index{% endblock %}
{% set basic = 'active' %}
{% set basic_city = 'active' %}
{% set city = 'active' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('architect/assets/scripts/bootstrap.css') }}"></link>
    <link rel="stylesheet" href="{{ asset('architect/assets/scripts/dataTables.bootstrap4.min.css') }}"></link>
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-server icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'city' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu active" data-view="kl-list">
            <span>{{'listof' | trans }} {{'city' | trans }}s</span>
        </a>
    </li>
    <li class="nav-item">
        <a role="tab" class="nav-link mon-menu " data-view="kl-form">
            <span>{{'newe' | trans }} {{'city' | trans }}</span>
        </a>
    </li>
</ul>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        {{'listof' | trans }} {{'city' | trans }}s
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active " id="tab-eg5-0" role="tabpanel">
                            <table id="example" class="table table-hover table-condensed table-bordered table-striped  dataTable dtr-inline w-100">
                                <thead>
                                <tr>
                                    <th>{{'city' | trans }}</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for city in cities %}
                                    <tr>
                                        <td>{{ city.cityName }}</td>
                                        <td>
                                            <a href="{{ path('city_edit', {'id': city.id}) }}" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                            <form method="post" action="{{ path('city_delete', {'id': city.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
                                            <button class="btn btn-danger ml-2"><i class="fas fa-trash"></i></button>
                                        </form>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane " id="tab-eg5-1" role="tabpanel">
                            {{ include('city/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function(){
                if($(this).hasClass('active')) return;
                $(".mon-menu,.tab-pane").toggleClass('active');    
            });
        });
    </script>
    
{% endblock %}