<form method="post" action="{{ path('quiz_question_delete', {'id': quiz_question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz_question.id) }}">
    <button class="btn">Delete</button>
</form>
