{% extends 'architect/architect.html.twig' %}
{% set quiz = 'active' %}
{% set quizs = 'active' %}
{% block title %}Quiz index{% endblock %}

{% block body %}
    <div class="row">	
    		
    </div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary kl-title">Liste des quizs</h6>

                </div>                <!-- Card Body -->
                <div class="card-body">
                    <div class="kl-list">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>QuizName</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quiz in quizzes %}
                            {%if quiz.id != 1 %}
                                <tr>
                                    <td>{{ quiz.quizName }}</td>
                                    <td>
                                        <a href="{{ path('quiz_edit', {'id': quiz.id}) }}"><span class="fas fa-eye">  </span></a>
                                        <button class="btn btn-danger" ><span class="fas fa-trash">  </span> </button>
                                    </td>
                                </tr>
                            {%endif%}
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="kl-form d-none">
                        {{ include('quiz/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function () {
                $(".mon-menu").removeClass("active");
                $(this).addClass("active");
                var show = "."+$(this).data("view");
                $(".kl-form ,.kl-list").toggleClass('d-none');
                if(show == "kl-list"){
                    $(".kl-title").html("Liste des quizs");
                }
                else {
                    $(".kl-title").html("Nouvel quiz");
                }
            });
            $(".select2").select2();
        });
    </script>
{% endblock %}
