<table class="table">
    <thead>
        <tr>
            <th>Question</th>
            <th>actions</th>
        </tr>
    </thead>
                        <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.question }}</td>
                                <td>
                                    <a href="#"> </a>
    <a href="#"> <span class="fas fa-trash"> </span></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                