{% extends 'architect/architect.html.twig' %}

{% block title %}QuizQuestion index{% endblock %}
{% set quiz = 'active' %}
{% set question = 'active' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}" >
{% endblock %}
{% block body %}
<ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a role="tab" class="nav-link active mon-menu" data-view="kl-list">
                <span>Liste des questions</span>
            </a>
        </li>
        <li class="nav-item">
            <a role="tab" class="nav-link mon-menu " data-view="kl-form">
                <span>Nouvelle question</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary kl-title">Liste des questions</h6>
                </div>                <!-- Card Body -->
                <div class="card-body">
                    <div class="kl-form d-none">
                        <form>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Quiz</label>
                                        <select class="form-control" id="id-quiz" aria-describedby="emailHelp" placeholder="quiz">
                                            <option value="0">Veuillez choisir un quiz</option>
                                            {% for quiz in quizzes %}
                                                <option value="{{ quiz.id }}">{{ quiz.quizName }}</option>
                                            {% endfor %}
                                        </select>
                                        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Savoir(s) faire</label>
                                        <select class="form-control select2" id="id-savoir-faire"  placeholder="savoir faire" multiple="true">
                                        </select>
                                        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Question</label>
                                        <input type="text" class="form-control" id="id-question" placeholder="question">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>Réponses</h4>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Réponse</label>
                                        <input type="text" class="form-control" id="id-reponse" placeholder="reponse">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group kl-solution mt-4">
                                        <label class="form-check-label mt-3"><input type="checkbox" id="id-score" class="form-check-input">Bonne réponse</label>
                                    </div>
                                </div>
                                <div class="col-lg-1 mt-2">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-info mt-4 -pull-right btn-circle" id="id-add-answer">+</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <table class="table table-striped" id="id-responses">

                                </table>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-primary" id="id-save-question">Enregistrer</button>
                        </form>
                    </div>
                    <div class="kl-list">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for quiz_question in questions %}
                                        <tr id="{{ quiz_question.id }}">
                                            <td>{{ quiz_question.question }}</td>
                                            <td>
                                                <a href="{{ path('quiz_question_edit', {'id': quiz_question.id}) }}">edit</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var is_set_bonne_reponse = false;
            $(".select2").select2();
            $(".form").hide();
            var answers = [];
            $("#id-add-answer").click(function () {
                var answer  = { "id" :0, "score": 0, "reponse" : ""};
                var reponse = $("#id-reponse").val();
                var score = 0;
                if(!is_set_bonne_reponse)
                    score   = document.getElementById("id-score").checked ? 1 : 0;
                if(score == 1) {
                    $("#id-score").prop("checked",false);
                    is_set_bonne_reponse = true;
                    $(".kl-solution").hide();
                }
                if(reponse.length < 1 ) return;
                answer.score = score;
                answer.reponse = reponse;
                var x = answer;
                answers.push(x);
                listAnswerOfAQuestion();

                $("#id-reponse").val("");
                $("#id-score").val("");
            });
            function listAnswerOfAQuestion(){
                var list ='';
                var length = answers.length;
                for(var i = 0 ; i < length ; i++){
                    var check =  parseInt(answers[i].score) == 1 ? '<i class="pe-7s-check"></i>' : " ";
                    list += "<tr>";
                    list += "<td>"+answers[i].reponse;
                    list += "<td>"+check;
                    list += "<td> <button class='close kl-delete-answer' type='button' data-index='"+i+"'  data-score='"+answers[i].score+"'>x</button>";
                    list += "<td>";
                }
                $("#id-responses").html(list);
            }
            $(document).on('click',".kl-delete-answer",function () {
                var index = $(this).data('index');
                var score = $(this).data('score');
                 if(score == 1) {
                     is_set_bonne_reponse = false;
                     $(".kl-solution").show();
                 }
                answers.splice(index,1);
                listAnswerOfAQuestion();
            });

            $("#id-save-question").click(function () {
                var data = { "id":0,"quiz":0,"question":"","answers":""};
                var quiz = $("#id-quiz").val();
                var question = $("#id-question").val();
                var hard_skills = $("#id-savoir-faire").val();
                if(question.length < 1 || quiz < 1 || answers.length < 1 ) return ;
                data.quiz = quiz;
                data.question = question;
                data.answers = answers;
                data.hs = hard_skills;
                $.ajax({
                    url : "{{ path("quiz_question_new") }}",
                    method: "POST",
                    data : data,
                    dataType: "JSON",
                    success: function(data){
                        console.log(data);
                        location.reload();
                    }
                });
            })
           $(".mon-menu").click(function () {
                $(".mon-menu").removeClass("active");
                $(this).addClass("active");
                var show = "."+$(this).data("view");
                $(".kl-form ,.kl-list").toggleClass('d-none');
                if(show == "kl-list"){
                    $(".kl-title").html("Liste des quizs");
                }
                else {
                    $(".kl-title").html("Nouvel quiz");
                }
            });
            controlAddResponse();
            controlAddQuestion();
            function controlAddResponse(){
                var reponse = $("#id-reponse").val();
                if(reponse.length < 1 ) {
                    $("#id-add-answer").prop('disabled',true);
                }
                else $("#id-add-answer").prop('disabled',false);
            }
            function controlAddQuestion(){
                var quiz = $("#id-quiz").val();
                var question = $("#id-question").val();
                if(question.length < 1 || quiz < 1) {
                    $("#id-save-question").prop('disabled',true);
                }
                else $("#id-save-question").prop('disabled',false);
            }

            $("#id-reponse,#id-quiz,#id-question,#id-score").change(function () {
                controlAddResponse();
                controlAddQuestion();
            })
            $("#id-score").keyup(function () {
                controlAddResponse();
                controlAddQuestion();
            })
            $("#id-quiz").change(function () {
              var quiz = $(this).val();
              $.ajax({
                  url: "{{ path("quiz_hard_skills") }}",
                  data : {quiz:quiz},
                  method:"post",
                  dataType:"json",
                  success:function (data) {
                      console.log(data);
                      $("#id-savoir-faire").html(data.html);
                  }
              });
            })
        });
    </script>
{% endblock %}
