{% extends 'base.html.twig' %}

{% block title %}QuizQuestion{% endblock %}

{% block body %}
    <h1>QuizQuestion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_question.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ quiz_question.question }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_question_index') }}">back to list</a>

    <a href="{{ path('quiz_question_edit', {'id': quiz_question.id}) }}">edit</a>

    {{ include('quiz_question/_delete_form.html.twig') }}
{% endblock %}
