{% extends 'base.html.twig' %}

{% block title %}Edit SsCandidat{% endblock %}

{% block body %}
    <h1>Edit SsCandidat</h1>

    {{ include('ss_candidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ss_candidat_index') }}">back to list</a>

    {{ include('ss_candidat/_delete_form.html.twig') }}
{% endblock %}
