{% extends 'base.html.twig' %}

{% block title %}SsCandidat index{% endblock %}

{% block body %}
    <h1>SsCandidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SsLevel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ss_candidat in ss_candidats %}
            <tr>
                <td>{{ ss_candidat.id }}</td>
                <td>{{ ss_candidat.ssLevel }}</td>
                <td>
                    <a href="{{ path('ss_candidat_show', {'id': ss_candidat.id}) }}">show</a>
                    <a href="{{ path('ss_candidat_edit', {'id': ss_candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ss_candidat_new') }}">Create new</a>
{% endblock %}
