{% extends 'base.html.twig' %}

{% block title %}New SsCandidat{% endblock %}

{% block body %}
    <h1>Create new SsCandidat</h1>

    {{ include('ss_candidat/_form.html.twig') }}

    <a href="{{ path('ss_candidat_index') }}">back to list</a>
{% endblock %}
