{% extends 'base.html.twig' %}

{% block title %}SsCandidat{% endblock %}

{% block body %}
    <h1>SsCandidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ss_candidat.id }}</td>
            </tr>
            <tr>
                <th>SsLevel</th>
                <td>{{ ss_candidat.ssLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ss_candidat_index') }}">back to list</a>

    <a href="{{ path('ss_candidat_edit', {'id': ss_candidat.id}) }}">edit</a>

    {{ include('ss_candidat/_delete_form.html.twig') }}
{% endblock %}
