<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/bootstrap/css/bootstrap.css") }}">
    {% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">HOME</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('utilisateur_index') }}">USER</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('produit') }}">PRODUCT</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item text-light">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block body %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
