{% extends 'base.html.twig' %}

{% block title %}Edit HsCandidat{% endblock %}

{% block body %}
    <h1>Edit HsCandidat</h1>

    {{ include('hs_candidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hs_candidat_index') }}">back to list</a>

    {{ include('hs_candidat/_delete_form.html.twig') }}
{% endblock %}
