{% extends 'base.html.twig' %}

{% block title %}HsCandidat index{% endblock %}

{% block body %}
    <h1>HsCandidat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>HsLevel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hs_candidat in hs_candidats %}
            <tr>
                <td>{{ hs_candidat.id }}</td>
                <td>{{ hs_candidat.hsLevel }}</td>
                <td>
                    <a href="{{ path('hs_candidat_show', {'id': hs_candidat.id}) }}">show</a>
                    <a href="{{ path('hs_candidat_edit', {'id': hs_candidat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hs_candidat_new') }}">Create new</a>
{% endblock %}
