{% extends 'base.html.twig' %}

{% block title %}New HsCandidat{% endblock %}

{% block body %}
    <h1>Create new HsCandidat</h1>

    {{ include('hs_candidat/_form.html.twig') }}

    <a href="{{ path('hs_candidat_index') }}">back to list</a>
{% endblock %}
