{% extends 'base.html.twig' %}

{% block title %}HsCandidat{% endblock %}

{% block body %}
    <h1>HsCandidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hs_candidat.id }}</td>
            </tr>
            <tr>
                <th>HsLevel</th>
                <td>{{ hs_candidat.hsLevel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hs_candidat_index') }}">back to list</a>

    <a href="{{ path('hs_candidat_edit', {'id': hs_candidat.id}) }}">edit</a>

    {{ include('hs_candidat/_delete_form.html.twig') }}
{% endblock %}
