{% extends 'base.html.twig' %}

{% block title %}Edit QuizCandidatResponse{% endblock %}

{% block body %}
    <h1>Edit QuizCandidatResponse</h1>

    {{ include('quiz_candidat_response/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('quiz_candidat_response_index') }}">back to list</a>

    {{ include('quiz_candidat_response/_delete_form.html.twig') }}
{% endblock %}
