{% extends 'base.html.twig' %}

{% block title %}QuizCandidatResponse index{% endblock %}

{% block body %}
    <h1>QuizCandidatResponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ResponseDuration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz_candidat_response in quiz_candidat_responses %}
            <tr>
                <td>{{ quiz_candidat_response.id }}</td>
                <td>{{ quiz_candidat_response.responseDuration ? quiz_candidat_response.responseDuration|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('quiz_candidat_response_show', {'id': quiz_candidat_response.id}) }}">show</a>
                    <a href="{{ path('quiz_candidat_response_edit', {'id': quiz_candidat_response.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quiz_candidat_response_new') }}">Create new</a>
{% endblock %}
