{% extends 'base.html.twig' %}

{% block title %}New QuizCandidatResponse{% endblock %}

{% block body %}
    <h1>Create new QuizCandidatResponse</h1>

    {{ include('quiz_candidat_response/_form.html.twig') }}

    <a href="{{ path('quiz_candidat_response_index') }}">back to list</a>
{% endblock %}
