{% extends 'base.html.twig' %}

{% block title %}QuizCandidatResponse{% endblock %}

{% block body %}
    <h1>QuizCandidatResponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz_candidat_response.id }}</td>
            </tr>
            <tr>
                <th>ResponseDuration</th>
                <td>{{ quiz_candidat_response.responseDuration ? quiz_candidat_response.responseDuration|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_candidat_response_index') }}">back to list</a>

    <a href="{{ path('quiz_candidat_response_edit', {'id': quiz_candidat_response.id}) }}">edit</a>

    {{ include('quiz_candidat_response/_delete_form.html.twig') }}
{% endblock %}
