<div class="row quizz_container">
        <div class="col-md-4" >
            <div class="main-card mb-3 card" style="height: 300px">
                <div class="card-body">
                    <h5 class="card-title">PROFIL</h5>
                    <div class="row">
                        <div class="col-auto">
                          <img width="90" height="90" class="rounded-circle" src="{% if user.picUrl != null %}{{  asset ("uploads/"~user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" alt="">
                        </div>
                        <div class="col-lg-7">
                          <p style="font-size: 13px;font-style: italic" class="mt-2">{{user.firstname}}</p>   
                           <p style="font-size: 13px;font-style: italic" class="mt-n2">{{user.name}}</p>  
                            <p style="font-size: 13px;font-style: italic" class="mt-n2">{{user.email}}</p>                   
                        </div>
                    </div>
                    <h5 class="card-title mt-2">{{ 'job' | trans }}</h5>
                    <h6 class=" ml-4 mt-n1">{{user.metier != null ? user.metier.metierName : ""}}</h6>
                     
                    <h5 class="card-title mt-2">{{ 'links' | trans }}</h5>
                    <div class="row">
                      <div class="col-lg-2 offset-lg-1">
                        <a href="{{user.facebook != null ? user.facebook : '#'}}" target="_blank">
                          <img src="{{asset('logo/fb.png')}}" alt="facebook" width="30px" height="30px" />
                        </a>
                      </div>
                      <div class="col-lg-2">
                        <a href="{{user.instagram != null ? user.instagram : '#'}}" target="_blank">
                          <img src="{{asset('logo/instagram.png')}}" alt="facebook" width="30px" height="30px" />
                        </a>
                      </div>
                      <div class="col-lg-2">
                        <a href="{{user.twiter != null ? user.twiter : '#'}}" target="_blank">
                          <img src="{{asset('logo/twitter.png')}}" alt="facebook" width="30px" height="30px" />
                        </a>
                      </div>
                      <div class="col-lg-2">
                        <a href="{{user.linkedin != null ? user.linkedin : '#'}}" target="_blank">
                          <img src="{{asset('logo/linkedin.png')}}" alt="facebook" width="30px" height="30px" />
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-4" >
         
              <div class="main-card mb-3 card" style="height: 300px">
                <div class="card-body">
                    <h5 class="card-title ">{{ 'soft' | trans }}</h5>
                    <hr>
                    {% if rule != null %}
                    {% for soft_skill in rule.softSkills %}
                    <div style="display: block; font-style: italic;">
                        
                        <span class="text mr-3 " style="display: inline-block;"><i class="fas fa-check mr-1"></i>{{ soft_skill.ssName}}</span>
                    </div>
                    {% endfor %}
                   {% endif %}
                </div>
            
           
          </div>
            
        </div>

        <div class="col-md-4 ">
            <div class="main-card mb-3 card" style="height: 300px">
                <div class="card-body">
                    <h5 class="card-title">{{ 'hard' | trans }}</h5>
                    <hr>
                    {% for hard_skill in hard_skills %}
                  {% set stars = hard_skill.score * 5 | round %}
                  <div class="row">
                    <div class="col-lg-5 mt-1">
                      <h4 class="small font-weight-bold p-1">{{hard_skill.hsName}} 
                    
                      </h4> 
                    </div>
                    <div class="col-lg-5 mt-1">
                     
                      <span class="float-right">
                        <div class="rating">
                          {%for i in 4..0%}
                            <a href="#" title="" class="{%if i < stars %}text-warning{% endif %}" >☆</a>
                          {%endfor%}
                        </div>
                      </span>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn evolution" data-toggle='modal' data-target="#modal-evolution" data-title ="{{ hard_skill.hsName}}'s evolution"data-user = "{{ user.id}}" data-skill ="{{hard_skill.id}}"> <i class="pe-7s-science"></i></button>
                    </div>
                  </div>
                             
                  {% endfor%}
                </div>
            </div>
        </div>  
    </div>
    <div class="row quizz_container">
      {% if rule != null %}
       <div class="col-md-6">
              <div class="main-card mb-3 card">
                <div class="card-body">
                  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                   <canvas id="soft-skills-chart" width="367" height="183" class="chartjs-render-monitor" style="display: block; width: 367px; height: 183px;"></canvas>
                </div>
            </div>
            </div>
            {% endif %}
            {% if evolutions | length != 0%}
            <div class=" {% if rule != null %} col-md-6{% else %} col-md-12 {% endif %}">
              <div class="main-card mb-3 card">
                <div class="card-body">
                  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                   <canvas id="hard-skills-chart" width="367" height="183" class="chartjs-render-monitor" style="display: block; width: 367px; height: 183px;"></canvas>
                </div>
            </div>
            </div>
          {% endif %}
    </div>
<!--div class="row quizz_container">
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="  text-primary text-uppercase mb-1">Profile</h6>
        {% if my_user.id == user.id %}
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Action</div>
              <a class="dropdown-item" href="#">Edit profile</a>
            </div>
        </div>
        {% endif %}
      </div>
                
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800">
            </div>
            <div class="text-xs font-weight-bold text-gray mb-1">
              <p class="card-category" align="center">{{user.firstname}} <br>{{user.name}} <br> {{user.email}}</p>
            </div>
            <hr>
            <div class="text-xs font-weight-bold text-gray text-uppercase mb-1">
              <div class="row">
                <div class="col-lg-6">
                  {{user.metier != null ? user.metier.metierName : ""}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <img width="100" height="100" class="rounded-circle" src="{% if user.picUrl != null %}{{  asset ("uploads/"~user.picUrl) }} {% else %}{{  asset('/dist/img/user4-128x128.jpg') }} {% endif %}" alt="">
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <p class="ml-5"> linkedin : {{user.linkedin}}</p>
          <p class="ml-5"> twitter  : {{user.twiter}}</p>
          <p class="ml-5"> facebook : {{user.facebook}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class=" col-md-12 mb-3 ">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <h6>Soft Skills</h6>
                </div>
                <div>
                  {% if rule != null %}
                    {% for soft_skill in rule.softSkills %}
                        <i class="fas fa-check"></i>
                        <span class="text mr-3 ">{{ soft_skill.ssName}}</span>
                    {% endfor %}
                   {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <h6>Hard Skills</h6>
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  {% for hard_skill in hard_skills %}
                  {% set stars = hard_skill.score * 5 | round %}
                  <div class="row">
                    <div class="col-lg-4 ">
                      <h3 class="small font-weight-bold">{{hard_skill.hsName}} 
                    
                      </h3> 
                    </div>
                    <div class="col-lg-6">
                     
                      <span class="float-right">
                        <div class="rating">
                          {%for i in 4..0%}
                            <a href="#" title="" class="{%if i < stars %}text-warning{% endif %}" >☆</a>
                          {%endfor%}
                        </div>
                      </span>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn evolution" data-toggle='modal' data-target="#modal-evolution" data-title ="{{ hard_skill.hsName}}'s evolution"data-user = "{{ user.id}}" data-skill ="{{hard_skill.id}}"> <i class="pe-7s-science"></i></button>
                    </div>
                  </div>
                             
                  {% endfor%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div-->    
<div class=" modal fade" style="margin-top: 50px; margin-left: 50px;"id="modal-evolution" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="modal-evolution-title">Evolution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            
                <canvas id="chart-evolution"></canvas>
            </div>
        </div>  
    </div>
</div>

