{% extends 'architect/architect_user.html.twig' %}

{% block title %}Dashboard {% endblock %}
{% set base = 'active' %}
{% set ville = 'active' %}
{% set city = 'active' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('architect/assets/scripts/bootstrap.css') }}"></link>
    <link rel="stylesheet" href="{{ asset('architect/assets/scripts/dataTables.bootstrap4.min.css') }}"></link>
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>Analytics
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
        <div class="page-title-actions">
            <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                <i class="fa fa-star"></i>
            </button>
        </div>
    </div>
</div>

    {% include('dashboard/candidat_skills.html.twig') %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    
{% endblock %}