{% extends 'architect/architect.html.twig' %}

{% block title %} Dashboard{% endblock %}
{% set dashboard = 'active' %}
{% block stylesheets %}
{{ parent() }}
    
{% endblock %}
{% block body %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-car icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div> {{ 'analytics' | trans}}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-midnight-bloom">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total </div>
                    <div class="widget-subheading">{{'candidat' | trans }}s</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span class="ml-3">{{ users | length }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total</div>
                    <div class="widget-subheading">{{'secteur' | trans}}s</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span class="ml-3"> {{ sectors | length }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-grow-early">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total</div>
                    <div class="widget-subheading">{{ 'domain' | trans }}s</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span class="ml-3">{{ domains | length }}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3">
        <div class="card mb-3 widget-content bg-premium-dark">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total</div>
                    <div class="widget-subheading">Jobs</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-warning"><span class="ml-3">{{ jobs | length }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">{{'domain' | trans }}s</h5>
                <canvas id="chart-domain" width="367" height="183" class="chartjs-render-monitor" style="display: block; width: 367px; height: 183px;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <h5 class="card-title">{{ 'job' | trans }}s</h5>
                <canvas id="chart-jobs" width="367" height="183" class="chartjs-render-monitor" style="display: block; width: 367px; height: 183px;"></canvas>
            </div>
        </div>
    </div>
</div>
  
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var job = document.getElementById('chart-jobs');
        var domain = document.getElementById('chart-domain');
        var jobChart = new Chart(job, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for job in jobs %}
                        '{{ job.metierName }}',
                    {%endfor%}
                ],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {% for job in jobs %}
                            {{ job.utilisateurs | length }},
                        {%endfor%}
                    ],
                    backgroundColor: [
                        {% for job in jobs %}
                            'rgba('+Math.floor(Math.random() * 255)+','+Math.floor(Math.random() * 255)+', '+Math.floor(Math.random() * 255)+', 1)',
                        {%endfor%}    
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    
                }
            }
        });
        var domainChart = new Chart(domain, {
            type: 'pie',
            data: {
                labels: [
                    {% for domain in domains %}
                        '{{ domain.domainLabel }}',
                    {%endfor%}
                ],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {% for domain in domains %}
                            '{{ domain.utilisateurs | length }}',
                        {%endfor%}
                    ],
                    backgroundColor: [
                        {% for job in jobs %}
                            'rgba('+Math.floor(Math.random() * 255)+','+Math.floor(Math.random() * 255)+', '+Math.floor(Math.random() * 255)+', 1)',
                        {%endfor%} 
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    
                }
            }
        });
    </script>

{% endblock %}