{% extends 'base.html.twig' %}

{% block title %}Sector{% endblock %}

{% block body %}
    <h1>Sector</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sector.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ sector.label }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ sector.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sector.description }}</td>
            </tr>
            <tr>
                <th>ConceptType</th>
                <td>{{ sector.conceptType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sector_index') }}">back to list</a>

    <a href="{{ path('sector_edit', {'id': sector.id}) }}">edit</a>

    {{ include('sector/_delete_form.html.twig') }}
{% endblock %}
