{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit User</h1>

    {{ include('user/form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}

</div>
{% endblock %}
