{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}



{% block body %}

<div class="container">
    <h1>List User</h1>

 <a class="btn btn-success" href="{{ path('user_new') }}">Create new</a></br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="badge badge-secondary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="badge badge-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
   
{% endblock %}
