{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container">
	

    <h1>Create new User</h1>

    {{ include('user/form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
