{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
   
    <a class="btn btn-secondary" href="{{ path('user_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>



    {{ include('user/_delete_form.html.twig') }}

     </div>
{% endblock %}
