{% extends 'architect/architect.html.twig' %}

{% block title %}HardSkills index{% endblock %}
{% set hard_skills_index = 'active' %}
{% block body %}
    <div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-science icon-gradient bg-mean-fruit">
                </i>
            </div>
            <div>{{'hard' | trans }}
                <div class="page-title-subheading">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{'listof' | trans }} {{'hard' | trans }}</h6>
                </div>                <!-- Card Body -->
                <div class="card-body">
                    <table class="table" id="example" length="5">
                        <thead>
                        <tr>
                            <th>{{'hard' | trans }}</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for hard_skill in hard_skills %}
                                <tr>
                                    <td>{{ hard_skill.hsName }}</td>
                                    <td>
                                        
                                        <a class="btn" href="{{ path('hard_skills_edit', {'id': hard_skill.id}) }}"><i class="fas fa-edit"></i></a>
                                        {% if hard_skill.metiers | length < 1%}
                                        {% include 'hard_skills/_delete_form.html.twig'%}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"> {{'hard' | trans }}</h6>
                </div>
                <div class="card-body">
                    {{ include('hard_skills/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('architect/assets/scripts/datatable.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".mon-menu").click(function(){
                if($(this).hasClass('active')) return;
                $(".mon-menu,.tab-pane").toggleClass('active');    
            });
        });
    </script>
    
{% endblock %}

