{% extends 'base.html.twig' %}

{% block title %}HardSkills{% endblock %}

{% block body %}
    <h1>HardSkills</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hard_skill.id }}</td>
            </tr>
            <tr>
                <th>HsName</th>
                <td>{{ hard_skill.hsName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hard_skills_index') }}">back to list</a>

    <a href="{{ path('hard_skills_edit', {'id': hard_skill.id}) }}">edit</a>

    {{ include('hard_skills/_delete_form.html.twig') }}
{% endblock %}
